# **Pandas**
    데이터 과학자를 위해 테이블형태로 데이터를 다룰 수 있게 해주는 패키지 (python용 엑셀)
    기존 데이터처리 라이브러리인 numpy 대신 주로 사용
    일반인이 데이터분석을 접하기 쉽게 만들어준 결정적인 라이브러리
    pandas만으로도 충분히 데이터 분석이 가능할 정도로 고수준의 함수들을 내장
    앞으로 진행하는 데이터분석 과정에서 주로 사용하게 될 데이터구조

## **1. pandas 설치**
    
    콘솔창에서 실행 시
    pip install pandas
    
    주피터 노트북으로 실행 시
    !pip install pandas
    
    아나콘다 환경으로 python 환경설정 시 기본적으로 설치가 되어있음

In [1]:
# pandas 설치
# !pip install pandas

In [3]:
# 습관적 불러들이기
import numpy as np
# pandas 로딩
import pandas as pd
# pd라는 닉네임은 많은 파이썬 유저들이 사용하고 있는 닉네임, 분석을 위한 필수는 아니지만 되도록이면 위와 같이 사용을 해줍시다.
pd.options.display.max_columns = 200 
# 불러들이는 데이터에 맞춰 모든 컬럼을 확인 가능하도록 옵션값을 주었습니다.
pd.options.display.max_info_columns =200 
# 그냥 실행 시키시고 지금 이해 못하셔도 좋습니다.

import numpy as np

## **2. DataFrame**
    엑셀에 익숙한 사용자를 위해 제작 된 테이블형태의 데이터 구조
    다양한 형태의 데이터를 받아 사용할 수 있으며 다양한 통계, 시각화 함수를 제공한다.
    
    실제 데이터를 불러들이고 값을 확인 해 보며 기본적인 pandas 사용법을 익혀보도록 하겠습니다.

### 2-1. 데이터 불러오기
pandas는 다양한 데이터 파일 형태를 지원하며 주로 csv, xlsx, sql을 사용한다.
    
    read_csv()
    read_excel()
    read_sql()

In [4]:
%%time
# DataFrame 의 약자로서 형식적으로 df 변수명을 사용한다.
# pandas패키지의 read_csv() 함수를 사용하여 loan.csv 파일을 불러들여 데이터프레임을 만들고 df 이름의 변수로 저장

# 주피터 노트북 및 코랩 경로 설정 방법
df = pd.read_csv('./loan1.csv')

CPU times: user 477 ms, sys: 73.9 ms, total: 551 ms
Wall time: 569 ms

In [11]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.810000,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.770000,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.530000,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NaN,NaN,13000,13000,13000.0,60 months,18.06,330.54,D,D2,Clinical Supervisor,10+ years,RENT,60000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,554xx,MN,37.24,0.0,Jun-2003,1.0,NaN,NaN,25.0,0.0,12046,35.3,44.0,w,10748.94,10748.94,4932.010000,4932.01,2251.06,2680.95,0.0,0.0,0.0,Feb-2019,330.54,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,108816.0,1.0,15.0,2.0,4.0,6.0,96770.0,77.0,2.0,2.0,7281.0,68.0,34100.0,0.0,0.0,4.0,6.0,4534.0,20054.0,37.5,0.0,0.0,170.0,173.0,7.0,6.0,0.0,7.0,NaN,6.0,NaN,0.0,5.0,5.0,8.0,10.0,31.0,10.0,13.0,5.0,25.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,160629.0,108816.0,32100.0,126529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,12000,12000,12000.0,60 months,13.59,276.68,C,C2,consultant,2 years,RENT,90000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,773xx,TX,6.19,0.0,Sep-2003,1.0,NaN,NaN,12.0,0.0,16142,29.1,25.0,w,0.00,0.00,13886.761900,13886.76,12000.00,1886.76,0.0,0.0,0.0,Feb-2019,10000.07,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,52.0,115385.0,1.0,3.0,1.0,3.0,5.0,99243.0,88.0,0.0,2.0,8961.0,43.0,55400.0,0.0,0.0,1.0,5.0,11539.0,39258.0,29.1,0.0,0.0,130.0,125.0,15.0,5.0,0.0,15.0,NaN,6.0,NaN,0.0,4.0,4.0,7.0,11.0,8.0,8.0,16.0,6.0,12.0,0.0,0.0,0.0,1.0,100.0,14.3,0.0,0.0,151664.0,115385.0,55400.0,96264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,20000,20000,20000.0,60 months,15.05,476.33,C,C4,Controls Engineer,2 years,MORTGAGE,105000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,458xx,OH,15.17,0.0,Sep-2005,0.0,NaN,NaN,9.0,0.0,4791,51.0,34.0,w,16309.59,16309.59,7128.230000,7128.23,3690.41,3437.82,0.0,0.0,0.0,Feb-2019,476.33,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,2968.0,136467.0,0.0,4.0,0.0,2.0,18.0,45920.0,75.0,0.0,1.0,2276.0,71.0,9400.0,1.0,1.0,0.0,4.0,15163.0,24.0,99.0,0.0,0.0,146.0,141.0,13.0,13.0,2.0,85.0,NaN,19.0,NaN,0.0,1.0,3.0,1.0,2.0,17.0,4.0,15.0,3.0,9.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,159023.0,50711.0,2300.0,61623.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,7000,7000,7000.0,36 months,7.35,217.27,A,A4,Hair Stylist,< 1 year,RENT,30000.0,Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,32.64,1.0,Nov-2000,0.0,10.0,NaN,11.0,0.0,6654,15.7,28.0,w,4268.88,4268.88,3256.190000,3256.19,2731.12,525.07,0.0,0.0,0.0,Feb-2019,217.27,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,90000.0,11.93,Verified,0.0,0.0,31450.0,0.0,1.0,0.0,1.0,24.0,24796.0,NaN,0.0,1.0,1508.0,16.0,42500.0,0.0,0.0,0.0,2.0,3145.0,28772.0,8.7,0.0,0.0,188.0,204.0,15.0,15.0,0.0,15.0,NaN,16.0,NaN,0.0,2.0,5.0,4.0,9.0,5.0,10.0,23.0,5.0,11.0,0.0,0.0,0.0,0.0,96.4,0.0,0.0,0.0,77748.0,31450.0,31500.0,35248.0,11338.0,Aug-2014,0.0,0.0,4.0,62.2,0.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49999,NaN,NaN,6000,6000,6000.0,36 months,13.59,203.88,C,C2,Store manager,1 year,RENT,50000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,060xx,CT,8.19,0.0,Mar-2006,1.0,NaN,NaN,14.0,0.0,6500,38.7,15.0,w,0.00,0.00,6451.428886,6451.43,6000.00,451.43,0.0,0.0,0.0,Jun-2018,5232.68,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,3784.0,11645.0,1.0,2.0,0.0,2.0,19.0,5145.0,98.0,3.0,9.0,4026.0,53.0,16800.0,0.0,0.0,2.0,11.0,832.0,8148.0,39.6,0.0,0.0,139.0,59.0,5.0,5.0,0.0,5.0,NaN,0.0,NaN,0.0,6.0,7.0,7.0,7.0,3.0,12.0,12.0,7.0,14.0,0.0,0.0,0.0,3.0,100.0,14.3,0.0,0.0,22060.0,11645.0,13500.0,5260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
!pwd

/Users/alvin/Desktop/광운대학교_강의교안

In [8]:
# 만약 모듈을 찾을 수 없는 오류가 발생한다면 추가 모듈 설치
!pip install xlrd

Requirement already satisfied: xlrd in /Users/alvin/opt/anaconda3/lib/python3.8/site-packages (1.2.0)

UsageError: Line magic function `%%time` not found.

In [10]:
%%time
df1 = pd.read_excel('loan1.xlsx')

CPU times: user 37.3 s, sys: 185 ms, total: 37.4 s
Wall time: 37.5 s

In [ ]:
# 참고! 실습은 하지 않습니다만 쿼리를 사용하여 데이터베이스로부터 데이터프레임을 만드는 것도 가능합니다.
# 데이터베이스로 부터 자료 읽기

# 필요한 모듈 추가 설치 - 각 데이터베이스 별로 다릅니다.
# !pip install pymysql

# sql 모듈 로드하기
# import pymysql
# mysql, mariadb, sqlite, postgresql, ms-sql, oracle, mongodb

# 접속하기
# 접속방법 또한 DB 종류에 따라 다릅니다.
# con = pymysql.connect(host='db서버주소', port=3306, user='id', passwd='pwd', db='dbname')

# query 만들기
# query = 'select * from samples'

# 자료 불러오기
# data = pd.read_sql(query, con=con)

In [6]:
# 데이터프레임 확인
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.810000,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.770000,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.530000,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,NaN,NaN,13000,13000,13000.0,60 months,18.06,330.54,D,D2,Clinical Supervisor,10+ years,RENT,60000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,554xx,MN,37.24,0.0,Jun-2003,1.0,NaN,NaN,25.0,0.0,12046,35.3,44.0,w,10748.94,10748.94,4932.010000,4932.01,2251.06,2680.95,0.0,0.0,0.0,Feb-2019,330.54,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,108816.0,1.0,15.0,2.0,4.0,6.0,96770.0,77.0,2.0,2.0,7281.0,68.0,34100.0,0.0,0.0,4.0,6.0,4534.0,20054.0,37.5,0.0,0.0,170.0,173.0,7.0,6.0,0.0,7.0,NaN,6.0,NaN,0.0,5.0,5.0,8.0,10.0,31.0,10.0,13.0,5.0,25.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,160629.0,108816.0,32100.0,126529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,12000,12000,12000.0,60 months,13.59,276.68,C,C2,consultant,2 years,RENT,90000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,773xx,TX,6.19,0.0,Sep-2003,1.0,NaN,NaN,12.0,0.0,16142,29.1,25.0,w,0.00,0.00,13886.761900,13886.76,12000.00,1886.76,0.0,0.0,0.0,Feb-2019,10000.07,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,52.0,115385.0,1.0,3.0,1.0,3.0,5.0,99243.0,88.0,0.0,2.0,8961.0,43.0,55400.0,0.0,0.0,1.0,5.0,11539.0,39258.0,29.1,0.0,0.0,130.0,125.0,15.0,5.0,0.0,15.0,NaN,6.0,NaN,0.0,4.0,4.0,7.0,11.0,8.0,8.0,16.0,6.0,12.0,0.0,0.0,0.0,1.0,100.0,14.3,0.0,0.0,151664.0,115385.0,55400.0,96264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,20000,20000,20000.0,60 months,15.05,476.33,C,C4,Controls Engineer,2 years,MORTGAGE,105000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,458xx,OH,15.17,0.0,Sep-2005,0.0,NaN,NaN,9.0,0.0,4791,51.0,34.0,w,16309.59,16309.59,7128.230000,7128.23,3690.41,3437.82,0.0,0.0,0.0,Feb-2019,476.33,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,2968.0,136467.0,0.0,4.0,0.0,2.0,18.0,45920.0,75.0,0.0,1.0,2276.0,71.0,9400.0,1.0,1.0,0.0,4.0,15163.0,24.0,99.0,0.0,0.0,146.0,141.0,13.0,13.0,2.0,85.0,NaN,19.0,NaN,0.0,1.0,3.0,1.0,2.0,17.0,4.0,15.0,3.0,9.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,159023.0,50711.0,2300.0,61623.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,7000,7000,7000.0,36 months,7.35,217.27,A,A4,Hair Stylist,< 1 year,RENT,30000.0,Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,32.64,1.0,Nov-2000,0.0,10.0,NaN,11.0,0.0,6654,15.7,28.0,w,4268.88,4268.88,3256.190000,3256.19,2731.12,525.07,0.0,0.0,0.0,Feb-2019,217.27,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,90000.0,11.93,Verified,0.0,0.0,31450.0,0.0,1.0,0.0,1.0,24.0,24796.0,NaN,0.0,1.0,1508.0,16.0,42500.0,0.0,0.0,0.0,2.0,3145.0,28772.0,8.7,0.0,0.0,188.0,204.0,15.0,15.0,0.0,15.0,NaN,16.0,NaN,0.0,2.0,5.0,4.0,9.0,5.0,10.0,23.0,5.0,11.0,0.0,0.0,0.0,0.0,96.4,0.0,0.0,0.0,77748.0,31450.0,31500.0,35248.0,11338.0,Aug-2014,0.0,0.0,4.0,62.2,0.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49999,NaN,NaN,6000,6000,6000.0,36 months,13.59,203.88,C,C2,Store manager,1 year,RENT,50000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,060xx,CT,8.19,0.0,Mar-2006,1.0,NaN,NaN,14.0,0.0,6500,38.7,15.0,w,0.00,0.00,6451.428886,6451.43,6000.00,451.43,0.0,0.0,0.0,Jun-2018,5232.68,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,3784.0,11645.0,1.0,2.0,0.0,2.0,19.0,5145.0,98.0,3.0,9.0,4026.0,53.0,16800.0,0.0,0.0,2.0,11.0,832.0,8148.0,39.6,0.0,0.0,139.0,59.0,5.0,5.0,0.0,5.0,NaN,0.0,NaN,0.0,6.0,7.0,7.0,7.0,3.0,12.0,12.0,7.0,14.0,0.0,0.0,0.0,3.0,100.0,14.3,0.0,0.0,22060.0,11645.0,13500.0,5260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

### 2-2. 데이터 저장하기
    불러들인 혹은 작업을 마친 데이터프레임을 다양한 파일형태로 저장이 가능합니다.
    
    to_csv()
    to_excel()
    to_sql()

In [12]:
%%time
df.to_csv('loan1_test.csv')

CPU times: user 3.98 s, sys: 65 ms, total: 4.04 s
Wall time: 4.07 s

In [8]:
%%time
# 엑셀은 오래걸립니다~
df.to_excel('loan1_test.xlsx')

CPU times: user 2min 6s, sys: 1.66 s, total: 2min 8s
Wall time: 2min 8s

## **3. 사용 데이터 간략 설명**
    미국 핀테크 회사인 lending club의 대출 데이터베이스
    핀테크의 시초라고 부를 수 있는 회사
    방대한 양의 대출정보를 공개하면서 금융정보분석에도 기여한 공이 큰 데이터
    2007 ~ 2015 년 대출정보 및 개인정보를 담고 있음
    226만건, 145항목 정보를 담고있음
    실습데이터는 이 중 5만건을 추출한 데이터를 사용합니다.

## **4. 데이터 살펴보기**

In [15]:
# 데이터를 불러들인 후 가장 처음 하는 작업
# 데이터의 구조, 형태 파악하기
# 데이터의 첫 5개 샘플 확인하기
df.head(10)
# 10개를 확인하려면?

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.81,4493.81,3557.72,936.09,0.00,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.77,1586.77,1233.45,353.32,0.00,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.00,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.53,6391.53,4909.13,1482.40,0.00,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.05,2371.05,1708.05,663.00,0.00,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,36000,36000,36000.0,60 months,14.08,839.16,C,C3,NDT III,10+ years,RENT,74000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,920xx,CA,21.46,0.0,Apr-2001,1.0,39.0,NaN,5.0,0.0,22328,83.3,19.0,w,29698.80,29698.80,11691.92,11691.92,6301.20,5390.72,0.00,0.0,0.0,Feb-2019,839.16,Mar-2019,Feb-2019,0.0,58.0,1,Individual,NaN,NaN,NaN,0.0,0.0,38082.0,0.0,2.0,0.0,0.0,29.0,15754.0,46.0,0.0,0.0,18310.0,62.0,26800.0,0.0,3.0,2.0,0.0,7616.0,1672.0,93.0,0.0,0.0,158.0,200.0,65.0,29.0,0.0,70.0,63.0,4.0,58.0,1.0,2.0,2.0,2.0,6.0,9.0,3.0,10.0,2.0,5.0,0.0,0.0,0.0,0.0,83.3,100.0,0.0,0.0,61280.0,38082.0,24000.0,34480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,20000,20000,20000.0,36 months,9.93,644.69,B,B2,Supervisory program analyst,10+ years,MORTGAGE,140000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,750xx,TX,7.76,2.0,May-1988,2.0,NaN,NaN,9.0,0.0,21374,62.0,24.0,w,12933.83,12933.83,9035.82,9035.82,7066.17,1937.42,32.23,0.0,0.0,Feb-2019,644.69,Mar-2019,Feb-2019,0.0,17.0,1,Individual,NaN,NaN,NaN,0.0,0.0,159398.0,2.0,1.0,0.0,1.0,16.0,19645.0,86.0,4.0,6.0,18596.0,62.0,34700.0,0.0,0.0,4.0,8.0,17710.0,10933.0,63.0,0.0,0.0,136.0,355.0,3.0,3.0,1.0,3.0,NaN,3.0,NaN,1.0,3.0,7.0,5.0,7.0,11.0,7.0,12.0,4.0,9.0,NaN,0.0,2.0,5.0,71.0,33.3,0.0,0.0,179419.0,41019.0,32800.0,22835.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,3200,3200,3200.0,36 months,10.91,104.63,B,B4,Commercial Property Manager,< 1 year,MORTGAGE,48000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,936xx,CA,16.66,0.0,Mar-2006,0.0,NaN,NaN,9.0,0.0,12748,91.7,11.0,w,2077.66,2077.66,1472.58,1472.58,1122.34,350.24,0.00,0.0,0.0,Feb-2019,104.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,188.0,190238.0,0.0,1.0,0.0,1.0,15.0,13772.0,87.0,1.0,2.0,3987.0,89.0,13900.0,0.0,0.0,0.0,3.0,21138.0,1084.0,91.0,0.0,0.0,15.0,141.0,7.0,7.0,2.0,7.0,NaN,NaN,NaN,0.0,6.0,7.0,6.0,7.0,1.0,7.0,8.0,7.0,9.0,0.0,0.0,0.0,1.0,100.0,83.3,0.0,0.0,211525.0,26520.0,12000.0,15908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,14500,14500,14500.0,36 months,16.02,509.93,C,C5,Equipment technician,< 1 year,MORTGAGE,38000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,765xx,TX,14.28,0.0,Oct-2008,0.0,NaN,NaN,6.0,0.0,1381,21.6,7.0,w,9613.67,9613.67,7201.93,7201.93,4886.33,2315.60,0.00,0.0,0.0,Feb-2019,509.93,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,61000.0,24.2,Not Verified,0.0,0.0,138605.0,1.0,1.0,1.0,1.0,7.0,22122.0,93.0,1.0,2.0,1381.0,78.0,6400.0,2.0,1.0,4.0,4.0,23101.0,1119.0,55.2,0.0,0.0,110.0,61.0,3.0,3.0,1.0,3.0,NaN,7.0,NaN,0.0,1.0,1.0,2.0,2.0,2.0,4.0,4.0,1.0,6.0,0.0,0.0,0.0,2.0,100.0,50.0,0.0,0.0,147563.0,23503.0,2500.0,23691.0,13179.0,Aug-2009,0.0,1.0,8.0,85.4,4.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,35000,35000,35000.0,36 months,6.08,1066.04,A,A2,NaN,NaN,OWN,76000.0,Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,388xx,MS,34.28,0.0,Aug-1994,1.0,NaN,NaN,23.0,0.0,47145,48.0,42.0,w,22139.93,22139.93,14900.92,14900.92,12860.07,2040.85,0.00,0.0,0.0,Feb-2019,1066.04,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,170361.0,1.0,2.0,0.0,0.0,26.0,28292.0,64.0,2.0,2.0,11128.0,53.0,98200.0,0.0,4.0,1.0,2.0,7744.0,27309.0,63.2,0.0,0.0,148.0,280.0,6.0,6.0,4.0,6.0,NaN,6.0,NaN,0.0,13.0,14.0,14.0,16.0,9.0,20.0,29.0,14.0,23.0,0.0,0.0,0.0,2.0,100.0,35.7,0.0,0.0,252224.0,75437.0,74300.0,44553.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# 데이터의 마지막 5개 샘플 확인하기
# 데이터가 잘 가져왔는지 확인 할 때 보통 씁니다.
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
49995,NaN,NaN,13000,13000,13000.0,60 months,18.06,330.54,D,D2,Clinical Supervisor,10+ years,RENT,60000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,554xx,MN,37.24,0.0,Jun-2003,1.0,NaN,NaN,25.0,0.0,12046,35.3,44.0,w,10748.94,10748.94,4932.010000,4932.01,2251.06,2680.95,0.0,0.0,0.0,Feb-2019,330.54,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,108816.0,1.0,15.0,2.0,4.0,6.0,96770.0,77.0,2.0,2.0,7281.0,68.0,34100.0,0.0,0.0,4.0,6.0,4534.0,20054.0,37.5,0.0,0.0,170.0,173.0,7.0,6.0,0.0,7.0,NaN,6.0,NaN,0.0,5.0,5.0,8.0,10.0,31.0,10.0,13.0,5.0,25.0,0.0,0.0,0.0,4.0,100.0,25.0,0.0,0.0,160629.0,108816.0,32100.0,126529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,12000,12000,12000.0,60 months,13.59,276.68,C,C2,consultant,2 years,RENT,90000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,773xx,TX,6.19,0.0,Sep-2003,1.0,NaN,NaN,12.0,0.0,16142,29.1,25.0,w,0.00,0.00,13886.761900,13886.76,12000.00,1886.76,0.0,0.0,0.0,Feb-2019,10000.07,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,52.0,115385.0,1.0,3.0,1.0,3.0,5.0,99243.0,88.0,0.0,2.0,8961.0,43.0,55400.0,0.0,0.0,1.0,5.0,11539.0,39258.0,29.1,0.0,0.0,130.0,125.0,15.0,5.0,0.0,15.0,NaN,6.0,NaN,0.0,4.0,4.0,7.0,11.0,8.0,8.0,16.0,6.0,12.0,0.0,0.0,0.0,1.0,100.0,14.3,0.0,0.0,151664.0,115385.0,55400.0,96264.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,20000,20000,20000.0,60 months,15.05,476.33,C,C4,Controls Engineer,2 years,MORTGAGE,105000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,458xx,OH,15.17,0.0,Sep-2005,0.0,NaN,NaN,9.0,0.0,4791,51.0,34.0,w,16309.59,16309.59,7128.230000,7128.23,3690.41,3437.82,0.0,0.0,0.0,Feb-2019,476.33,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,2968.0,136467.0,0.0,4.0,0.0,2.0,18.0,45920.0,75.0,0.0,1.0,2276.0,71.0,9400.0,1.0,1.0,0.0,4.0,15163.0,24.0,99.0,0.0,0.0,146.0,141.0,13.0,13.0,2.0,85.0,NaN,19.0,NaN,0.0,1.0,3.0,1.0,2.0,17.0,4.0,15.0,3.0,9.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,159023.0,50711.0,2300.0,61623.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,7000,7000,7000.0,36 months,7.35,217.27,A,A4,Hair Stylist,< 1 year,RENT,30000.0,Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,32.64,1.0,Nov-2000,0.0,10.0,NaN,11.0,0.0,6654,15.7,28.0,w,4268.88,4268.88,3256.190000,3256.19,2731.12,525.07,0.0,0.0,0.0,Feb-2019,217.27,Mar-2019,Feb-2019,0.0,NaN,1,Joint App,90000.0,11.93,Verified,0.0,0.0,31450.0,0.0,1.0,0.0,1.0,24.0,24796.0,NaN,0.0,1.0,1508.0,16.0,42500.0,0.0,0.0,0.0,2.0,3145.0,28772.0,8.7,0.0,0.0,188.0,204.0,15.0,15.0,0.0,15.0,NaN,16.0,NaN,0.0,2.0,5.0,4.0,9.0,5.0,10.0,23.0,5.0,11.0,0.0,0.0,0.0,0.0,96.4,0.0,0.0,0.0,77748.0,31450.0,31500.0,35248.0,11338.0,Aug-2014,0.0,0.0,4.0,62.2,0.0,4.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49999,NaN,NaN,6000,6000,6000.0,36 months,13.59,203.88,C,C2,Store manager,1 year,RENT,50000.0,Not Verified,Nov-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,060xx,CT,8.19,0.0,Mar-2006,1.0,NaN,NaN,14.0,0.0,6500,38.7,15.0,w,0.00,0.00,6451.428886,6451.43,6000.00,451.43,0.0,0.0,0.0,Jun-2018,5232.68,NaN,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,3784.0,11645.0,1.0,2.0,0.0,2.0,19.0,5145.0,98.0,3.0,9.0,4026.0,53.0,16800.0,0.0,0.0,2.0,11.0,832.0,8148.0,39.6,0.0,0.0,139.0,59.0,5.0,5.0,0.0,5.0,NaN,0.0,NaN,0.0,6.0,7.0,7.0,7.0,3.0,12.0,12.0,7.0,14.0,0.0,0.0,0.0,3.0,100.0,14.3,0.0,0.0,22060.0,11645.0,13500.0,5260.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#index로 데이터 확인
df.take([10])

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
10,NaN,NaN,40000,40000,40000.0,60 months,16.02,973.15,C,C5,IT Manager - Business Process,10+ years,OWN,140000.0,Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,292xx,SC,31.79,1.0,Aug-1999,0.0,3.0,NaN,11.0,0.0,34632,59.5,52.0,w,33288.83,33288.83,13602.03,13602.03,6711.17,6890.86,0.0,0.0,0.0,Feb-2019,973.15,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,59.0,81346.0,0.0,3.0,0.0,0.0,29.0,46714.0,50.0,0.0,1.0,19100.0,53.0,104500.0,0.0,0.0,1.0,1.0,8135.0,63703.0,57.9,0.0,0.0,220.0,213.0,13.0,13.0,0.0,13.0,NaN,9.0,3.0,0.0,2.0,6.0,2.0,17.0,22.0,8.0,30.0,6.0,11.0,0.0,0.0,0.0,0.0,98.0,0.0,0.0,0.0,197500.0,81346.0,88000.0,93000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# 데이터의 갯수를 살펴봅니다
len(df)

50000

In [22]:
df.info()
#object = str

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 145 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          0 non-null      float64
 1   member_id                                   0 non-null      float64
 2   loan_amnt                                   50000 non-null  int64
 3   funded_amnt                                 50000 non-null  int64
 4   funded_amnt_inv                             50000 non-null  float64
 5   term                                        50000 non-null  object
 6   int_rate                                    50000 non-null  float64
 7   installment                                 50000 non-null  float64
 8   grade                                       50000 non-null  object
 9   sub_grade                                   50000 non-null  object
 10  emp_title                                   45758 non-null  object
 11  emp_length                                  45820 non-null  object
 12  home_ownership                              50000 non-null  object
 13  annual_inc                                  50000 non-null  float64
 14  verification_status                         50000 non-null  object
 15  issue_d                                     50000 non-null  object
 16  loan_status                                 50000 non-null  object
 17  pymnt_plan                                  50000 non-null  object
 18  url                                         0 non-null      float64
 19  desc                                        0 non-null      float64
 20  purpose                                     50000 non-null  object
 21  title                                       50000 non-null  object
 22  zip_code                                    50000 non-null  object
 23  addr_state                                  50000 non-null  object
 24  dti                                         49898 non-null  float64
 25  delinq_2yrs                                 50000 non-null  float64
 26  earliest_cr_line                            50000 non-null  object
 27  inq_last_6mths                              50000 non-null  float64
 28  mths_since_last_delinq                      22442 non-null  float64
 29  mths_since_last_record                      7563 non-null   float64
 30  open_acc                                    50000 non-null  float64
 31  pub_rec                                     50000 non-null  float64
 32  revol_bal                                   50000 non-null  int64
 33  revol_util                                  49919 non-null  float64
 34  total_acc                                   50000 non-null  float64
 35  initial_list_status                         50000 non-null  object
 36  out_prncp                                   50000 non-null  float64
 37  out_prncp_inv                               50000 non-null  float64
 38  total_pymnt                                 50000 non-null  float64
 39  total_pymnt_inv                             50000 non-null  float64
 40  total_rec_prncp                             50000 non-null  float64
 41  total_rec_int                               50000 non-null  float64
 42  total_rec_late_fee                          50000 non-null  float64
 43  recoveries                                  50000 non-null  float64
 44  collection_recovery_fee                     50000 non-null  float64
 45  last_pymnt_d                                49930 non-null  object
 46  last_pymnt_amnt                             50000 non-null  float64
 47  next_pymnt_d                                37242 non-null  object
 48  last_credit_pull_d                          49997 non-null  object
 49  collections_12_mths_ex_med                  50000 non-null  float64
 50  mths_since_last_major_derog                 12252 non-null  float64
 51  policy_code                                 50000 non-null  int64
 52  application_type                            50000 non-null  object
 53  annual_inc_joint                            7191 non-null   float64
 54  dti_joint                                   7191 non-null   float64
 55  verification_status_joint                   7191 non-null   object
 56  acc_now_delinq                              50000 non-null  float64
 57  tot_coll_amt                                50000 non-null  float64
 58  tot_cur_bal                                 50000 non-null  float64
 59  open_acc_6m                                 50000 non-null  float64
 60  open_act_il                                 50000 non-null  float64
 61  open_il_12m                                 50000 non-null  float64
 62  open_il_24m                                 50000 non-null  float64
 63  mths_since_rcnt_il                          48077 non-null  float64
 64  total_bal_il                                50000 non-null  float64
 65  il_util                                     42066 non-null  float64
 66  open_rv_12m                                 50000 non-null  float64
 67  open_rv_24m                                 50000 non-null  float64
 68  max_bal_bc                                  50000 non-null  float64
 69  all_util                                    49985 non-null  float64
 70  total_rev_hi_lim                            50000 non-null  float64
 71  inq_fi                                      50000 non-null  float64
 72  total_cu_tl                                 50000 non-null  float64
 73  inq_last_12m                                50000 non-null  float64
 74  acc_open_past_24mths                        50000 non-null  float64
 75  avg_cur_bal                                 49994 non-null  float64
 76  bc_open_to_buy                              49201 non-null  float64
 77  bc_util                                     49184 non-null  float64
 78  chargeoff_within_12_mths                    50000 non-null  float64
 79  delinq_amnt                                 50000 non-null  float64
 80  mo_sin_old_il_acct                          48077 non-null  float64
 81  mo_sin_old_rev_tl_op                        50000 non-null  float64
 82  mo_sin_rcnt_rev_tl_op                       50000 non-null  float64
 83  mo_sin_rcnt_tl                              50000 non-null  float64
 84  mort_acc                                    50000 non-null  float64
 85  mths_since_recent_bc                        49255 non-null  float64
 86  mths_since_recent_bc_dlq                    10276 non-null  float64
 87  mths_since_recent_inq                       43883 non-null  float64
 88  mths_since_recent_revol_delinq              14809 non-null  float64
 89  num_accts_ever_120_pd                       50000 non-null  float64
 90  num_actv_bc_tl                              50000 non-null  float64
 91  num_actv_rev_tl                             50000 non-null  float64
 92  num_bc_sats                                 50000 non-null  float64
 93  num_bc_tl                                   50000 non-null  float64
 94  num_il_tl                                   50000 non-null  float64
 95  num_op_rev_tl                               50000 non-null  float64
 96  num_rev_accts                               50000 non-null  float64
 97  num_rev_tl_bal_gt_0                         50000 non-null  float64
 98  num_sats                                    50000 non-null  float64
 99  num_tl_120dpd_2m                            46649 non-null  float64
 100 num_tl_30dpd                                50000 non-null  float64
 101 num_tl_90g_dpd_24m                          50000 non-null  float64
 102 num_tl_op_past_12m                          50000 non-null  float64
 103 pct_tl_nvr_dlq                              50000 non-null  float64
 104 percent_bc_gt_75                            49196 non-null  float64
 105 pub_rec_bankruptcies                        50000 non-null  float64
 106 tax_liens                                   50000 non-null  float64
 107 tot_hi_cred_lim                             50000 non-null  float64
 108 total_bal_ex_mort                           50000 non-null  float64
 109 total_bc_limit                              50000 non-null  float64
 110 total_il_high_credit_limit                  50000 non-null  float64
 111 revol_bal_joint                             7191 non-null   float64
 112 sec_app_earliest_cr_line                    7191 non-null   object
 113 sec_app_inq_last_6mths                      7191 non-null   float64
 114 sec_app_mort_acc                            7191 non-null   float64
 115 sec_app_open_acc                            7191 non-null   float64
 116 sec_app_revol_util                          7061 non-null   float64
 117 sec_app_open_act_il                         7191 non-null   float64
 118 sec_app_num_rev_accts                       7191 non-null   float64
 119 sec_app_chargeoff_within_12_mths            7191 non-null   float64
 120 sec_app_collections_12_mths_ex_med          7191 non-null   float64
 121 sec_app_mths_since_last_major_derog         2548 non-null   float64
 122 hardship_flag                               50000 non-null  object
 123 hardship_type                               158 non-null    object
 124 hardship_reason                             158 non-null    object
 125 hardship_status                             158 non-null    object
 126 deferral_term                               158 non-null    float64
 127 hardship_amount                             158 non-null    float64
 128 hardship_start_date                         158 non-null    object
 129 hardship_end_date                           158 non-null    object
 130 payment_plan_start_date                     158 non-null    object
 131 hardship_length                             158 non-null    float64
 132 hardship_dpd                                158 non-null    float64
 133 hardship_loan_status                        158 non-null    object
 134 orig_projected_additional_accrued_interest  132 non-null    float64
 135 hardship_payoff_balance_amount              158 non-null    float64
 136 hardship_last_payment_amount                158 non-null    float64
 137 disbursement_method                         50000 non-null  object
 138 debt_settlement_flag                        50000 non-null  object
 139 debt_settlement_flag_date                   175 non-null    object
 140 settlement_status                           175 non-null    object
 141 settlement_date                             175 non-null    object
 142 settlement_amount                           175 non-null    float64
 143 settlement_percentage                       175 non-null    float64
 144 settlement_term                             175 non-null    float64
dtypes: float64(106), int64(4), object(35)
memory usage: 55.3+ MB

In [17]:
# 데이터의 전반적인 정보를 확인합니다.
df.info()
# dtype 정보에서는 각 컬럼별 데이터 타입을 확인 할 수 있습니다.
# object == str 이라고 생각하셔도 무방합니다.
# verbose, null_counts

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 145 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          0 non-null      float64
 1   member_id                                   0 non-null      float64
 2   loan_amnt                                   50000 non-null  int64
 3   funded_amnt                                 50000 non-null  int64
 4   funded_amnt_inv                             50000 non-null  float64
 5   term                                        50000 non-null  object
 6   int_rate                                    50000 non-null  float64
 7   installment                                 50000 non-null  float64
 8   grade                                       50000 non-null  object
 9   sub_grade                                   50000 non-null  object
 10  emp_title                                   45758 non-null  object
 11  emp_length                                  45820 non-null  object
 12  home_ownership                              50000 non-null  object
 13  annual_inc                                  50000 non-null  float64
 14  verification_status                         50000 non-null  object
 15  issue_d                                     50000 non-null  object
 16  loan_status                                 50000 non-null  object
 17  pymnt_plan                                  50000 non-null  object
 18  url                                         0 non-null      float64
 19  desc                                        0 non-null      float64
 20  purpose                                     50000 non-null  object
 21  title                                       50000 non-null  object
 22  zip_code                                    50000 non-null  object
 23  addr_state                                  50000 non-null  object
 24  dti                                         49898 non-null  float64
 25  delinq_2yrs                                 50000 non-null  float64
 26  earliest_cr_line                            50000 non-null  object
 27  inq_last_6mths                              50000 non-null  float64
 28  mths_since_last_delinq                      22442 non-null  float64
 29  mths_since_last_record                      7563 non-null   float64
 30  open_acc                                    50000 non-null  float64
 31  pub_rec                                     50000 non-null  float64
 32  revol_bal                                   50000 non-null  int64
 33  revol_util                                  49919 non-null  float64
 34  total_acc                                   50000 non-null  float64
 35  initial_list_status                         50000 non-null  object
 36  out_prncp                                   50000 non-null  float64
 37  out_prncp_inv                               50000 non-null  float64
 38  total_pymnt                                 50000 non-null  float64
 39  total_pymnt_inv                             50000 non-null  float64
 40  total_rec_prncp                             50000 non-null  float64
 41  total_rec_int                               50000 non-null  float64
 42  total_rec_late_fee                          50000 non-null  float64
 43  recoveries                                  50000 non-null  float64
 44  collection_recovery_fee                     50000 non-null  float64
 45  last_pymnt_d                                49930 non-null  object
 46  last_pymnt_amnt                             50000 non-null  float64
 47  next_pymnt_d                                37242 non-null  object
 48  last_credit_pull_d                          49997 non-null  object
 49  collections_12_mths_ex_med                  50000 non-null  float64
 50  mths_since_last_major_derog                 12252 non-null  float64
 51  policy_code                                 50000 non-null  int64
 52  application_type                            50000 non-null  object
 53  annual_inc_joint                            7191 non-null   float64
 54  dti_joint                                   7191 non-null   float64
 55  verification_status_joint                   7191 non-null   object
 56  acc_now_delinq                              50000 non-null  float64
 57  tot_coll_amt                                50000 non-null  float64
 58  tot_cur_bal                                 50000 non-null  float64
 59  open_acc_6m                                 50000 non-null  float64
 60  open_act_il                                 50000 non-null  float64
 61  open_il_12m                                 50000 non-null  float64
 62  open_il_24m                                 50000 non-null  float64
 63  mths_since_rcnt_il                          48077 non-null  float64
 64  total_bal_il                                50000 non-null  float64
 65  il_util                                     42066 non-null  float64
 66  open_rv_12m                                 50000 non-null  float64
 67  open_rv_24m                                 50000 non-null  float64
 68  max_bal_bc                                  50000 non-null  float64
 69  all_util                                    49985 non-null  float64
 70  total_rev_hi_lim                            50000 non-null  float64
 71  inq_fi                                      50000 non-null  float64
 72  total_cu_tl                                 50000 non-null  float64
 73  inq_last_12m                                50000 non-null  float64
 74  acc_open_past_24mths                        50000 non-null  float64
 75  avg_cur_bal                                 49994 non-null  float64
 76  bc_open_to_buy                              49201 non-null  float64
 77  bc_util                                     49184 non-null  float64
 78  chargeoff_within_12_mths                    50000 non-null  float64
 79  delinq_amnt                                 50000 non-null  float64
 80  mo_sin_old_il_acct                          48077 non-null  float64
 81  mo_sin_old_rev_tl_op                        50000 non-null  float64
 82  mo_sin_rcnt_rev_tl_op                       50000 non-null  float64
 83  mo_sin_rcnt_tl                              50000 non-null  float64
 84  mort_acc                                    50000 non-null  float64
 85  mths_since_recent_bc                        49255 non-null  float64
 86  mths_since_recent_bc_dlq                    10276 non-null  float64
 87  mths_since_recent_inq                       43883 non-null  float64
 88  mths_since_recent_revol_delinq              14809 non-null  float64
 89  num_accts_ever_120_pd                       50000 non-null  float64
 90  num_actv_bc_tl                              50000 non-null  float64
 91  num_actv_rev_tl                             50000 non-null  float64
 92  num_bc_sats                                 50000 non-null  float64
 93  num_bc_tl                                   50000 non-null  float64
 94  num_il_tl                                   50000 non-null  float64
 95  num_op_rev_tl                               50000 non-null  float64
 96  num_rev_accts                               50000 non-null  float64
 97  num_rev_tl_bal_gt_0                         50000 non-null  float64
 98  num_sats                                    50000 non-null  float64
 99  num_tl_120dpd_2m                            46649 non-null  float64
 100 num_tl_30dpd                                50000 non-null  float64
 101 num_tl_90g_dpd_24m                          50000 non-null  float64
 102 num_tl_op_past_12m                          50000 non-null  float64
 103 pct_tl_nvr_dlq                              50000 non-null  float64
 104 percent_bc_gt_75                            49196 non-null  float64
 105 pub_rec_bankruptcies                        50000 non-null  float64
 106 tax_liens                                   50000 non-null  float64
 107 tot_hi_cred_lim                             50000 non-null  float64
 108 total_bal_ex_mort                           50000 non-null  float64
 109 total_bc_limit                              50000 non-null  float64
 110 total_il_high_credit_limit                  50000 non-null  float64
 111 revol_bal_joint                             7191 non-null   float64
 112 sec_app_earliest_cr_line                    7191 non-null   object
 113 sec_app_inq_last_6mths                      7191 non-null   float64
 114 sec_app_mort_acc                            7191 non-null   float64
 115 sec_app_open_acc                            7191 non-null   float64
 116 sec_app_revol_util                          7061 non-null   float64
 117 sec_app_open_act_il                         7191 non-null   float64
 118 sec_app_num_rev_accts                       7191 non-null   float64
 119 sec_app_chargeoff_within_12_mths            7191 non-null   float64
 120 sec_app_collections_12_mths_ex_med          7191 non-null   float64
 121 sec_app_mths_since_last_major_derog         2548 non-null   float64
 122 hardship_flag                               50000 non-null  object
 123 hardship_type                               158 non-null    object
 124 hardship_reason                             158 non-null    object
 125 hardship_status                             158 non-null    object
 126 deferral_term                               158 non-null    float64
 127 hardship_amount                             158 non-null    float64
 128 hardship_start_date                         158 non-null    object
 129 hardship_end_date                           158 non-null    object
 130 payment_plan_start_date                     158 non-null    object
 131 hardship_length                             158 non-null    float64
 132 hardship_dpd                                158 non-null    float64
 133 hardship_loan_status                        158 non-null    object
 134 orig_projected_additional_accrued_interest  132 non-null    float64
 135 hardship_payoff_balance_amount              158 non-null    float64
 136 hardship_last_payment_amount                158 non-null    float64
 137 disbursement_method                         50000 non-null  object
 138 debt_settlement_flag                        50000 non-null  object
 139 debt_settlement_flag_date                   175 non-null    object
 140 settlement_status                           175 non-null    object
 141 settlement_date                             175 non-null    object
 142 settlement_amount                           175 non-null    float64
 143 settlement_percentage                       175 non-null    float64
 144 settlement_term                             175 non-null    float64
dtypes: float64(106), int64(4), object(35)
memory usage: 55.3+ MB

In [18]:
# 데이터의 기초통계량을 확인합니다.
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,5.000000e+04,0.0,0.0,49898.000000,50000.000000,50000.000000,22442.000000,7563.000000,50000.00000,50000.000000,50000.000000,49919.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,12252.000000,50000.0,7.191000e+03,7191.000000,50000.00000,50000.000000,5.000000e+04,50000.00000,50000.00000,50000.000000,50000.000000,48077.000000,50000.000000,42066.000000,50000.000000,50000.000000,50000.000000,49985.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000.000000,49994.000000,49201.000000,49184.000000,50000.000000,50000.00000,48077.000000,50000.00000,50000.000000,50000.000000,50000.000000,49255.000000,10276.000000,43883.000000,14809.000000,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.00000,46649.0,50000.00000,50000.000000,50000.000000,50000.000000,49196.000000,50000.000000,50000.000000,5.000000e+04,50000.000000,50000.000000,5.000000e+04,7191.000000,7191.000000,7191.000000,7191.000000,7061.000000,7191.000000,7191.000000,7191.000000,7191.000000,2548.000000,158.0,158.000000,158.0,158.000000,132.000000,158.000000,158.000000,175.000000,175.000000,175.000000
mean,NaN,NaN,15315.294500,15315.294500,15309.765269,12.680199,445.767806,7.792947e+04,NaN,NaN,19.289813,0.247400,0.504920,36.634658,77.931509,11.14782,0.171300,15528.225780,44.138887,22.212080,8173.215377,8170.523387,8217.591206,8214.444581,6361.323805,1812.801284,1.197722,42.268396,6.796384,2597.004728,0.022900,45.412831,1.0,1.205469e+05,19.794596,0.00070,196.091620,1.419798e+05,0.92140,2.65638,0.644120,1.516860,21.354515,34204.040400,67.424262,1.216780,2.591340,5584.934640,54.229189,36354.651400,0.99366,1.419720,1.946180,4.381940,14075.446934,14249.755594,49.971434,0.008200,6.51480,122.879901,179.35534,15.178040,8.665800,1.369120,25.584753,40.118139,7.157829,37.363360,0.45334,3.480580,5.172680,4.738160,7.008560,7.947920,7.845260,12.69402,5.090160,11.11070,0.0,0.00052,0.071000,1.989240,94.280578,33.120900,0.135640,0.035540,1.819689e+05,49881.809280,25275.938800,4.461727e+04,32667.310666,0.723543,1.438882,11.486998,59.520337,3.165485,12.446809,0.072174,0.099986,35.709969,3.0,205.303544,3.0,14.848101,569.305000,15359.178608,226.187342,7037.168571,53.648914,17.777143
std,NaN,NaN,9919.945835,9919.945835,9918.352697,4.952463,281.535755,7.991656e+04,NaN,NaN,19.967526,0.794459,0.787723,21.747748,24.220726,5.74981,0.465704,22857.070635,25.303708,11.811947,8171.879751,8170.737900,6973.710347,6972.053420,6541.119384,1622.900142,9.631398,386.410866,67.882011,5885.400571,0.175773,21.711899,0.0,6.251038e+04,7.980859,0.02792,1365.102204,1.671327e+05,1.12879,2.88095,0.905674,1.542752,26.337928,43445.587993,24.045998,1.460681,2.488377,5489.135037,21.445597,37094.868252,1.45662,2.581885,2.303543,3.150311,18073.090634,19131.892379,29.268672,0.102825,556.56954,54.721742,100.91553,19.016592,9.721331,1.721769,34.000561,22.269302,5.957843,21.850512,1.32031,2.377346,3.382657,3.210235,4.487107,7.185797,4.756865,7.72776,3.204347,5.73569,0.0,0.02449,0.499283,1.840911,9.325920,35.393311,0.350663,0.294548,1.931671e+05,51237.479966,25201.880455,4.676911e+04,27375.649378,1.080257,1.714817,6.615030,25.668967,3.450687,7.956395,0.554102,0.476880,24.427361,0.0,152.008100,0.0,8.608378,411.479679,8892.329078,215.081852,5175.967267,9.880582,6.229476
min,NaN,NaN,1000.000000,1000.000000,1000.000000,5.320000,7.610000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.800000e+04,0.000000,0.00000,0.000000,0.000000e+00,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,5.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.00000,0.000000,0.00000,0.0,0.00000,0.000000,0.000000,14.300000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,10.540000,3.0,0.000000,31.620000,1012.110000,0.240000,500.000000,35.640000,1.000000
25%,NaN,NaN,8000.000000,8000.000000,8000.000000,9.440000,239.617500,4.500000e+04,NaN,NaN,11.070000,0.000000,0.000000,19.000000,63.000000,7.00000,0.000000,4872.000000,24.200000,14.000000,0.000000,0.000000,3727.982500,3726.650000,2406.352500,639.452500,0.000000,0.000000,0.000000,271.840000,0.000000,28.000000,1.0,8.200000e+04,13.930000,0.00000,0.000000,2.609475e+04,0.00000,1.00000,0.000000,0.000000,7.000000,7668.750000,53.000000,0.000000,1.000000,2055.000000,40.000000,14700.000000,0.00000,0.000000,0.000000,2.000000,2920.000000,2699.000000,25.800000,0.000000,0.00000,87.000000,113.00000,4.000000,3.000000,0.000000,6.000000,22.000000,2.000000,20.000000,0.00000,2.000000,3.000000,3.000000,4.000000,3.000000,4.000000,7.00000,3.000000,7.00000,0.0,0.00000,0.000000,1.000000,91.700000,0.000000,0.000000,0.000000,5.012075e+04,18685.250000,8900.000000,1.480975e+04,14777.500000,0.000000,0.000000,7.000000,41.200000,1.000000,7.000000,0.000000,0.000000,14.000000,3.0,84.797500,3.0,7.500000,248.865000,7612.240000,49.752500,3204.920000,45.000000,14.000000
50%,NaN,NaN,12200.000000,12200.000000,12200.000000,11.990000,368.060000,6.500000e+04,NaN,NaN,17.470000,0.000000,0.000000,34.000000,81.000000,10.00000,0.000000,9983.500000,42.200000,20.000000,6190.160000,6190.160000,6136.014757,6135.460000,4056.585000,1308.655000,0.000000,0.000000,0.000000,467.230000,0.000000,46.000000,1.0,1.097000e+05,19.270000,0.00000,0.000000,7.272500e+04,1.00000,2.00000,0.000000,1.000000,14.000000,22109.000000,70.000000,1.000000,2.000000,4216.000000,55.000000,26400.000000,1.00000,0.000000,1.000000,4.000000,7138.000000,7540.000000,48.750000,0.000000,0.00000,129.000000,161.00000,9.000000,6.000000,1.000000,14.000000,38.000000,6.000000,35.000000,0.00000,3.000000,4.000000,4.000000,6.000000,6.000000,7.000000,11.00000,4.000000,10.00000,0.0,0.00000,0.000000,2.000000,100.000000,25.000000,0.000000,0.000000,1.138805e+05,35897.000000,17900.000000,3.332750e+04,25639.000000,0.000000,1.000000,10.000000,61.800000,2.000000,11.000000,0.000000,0.000000,34.000000,3.0,169.850000,3.0,15.000000,446.595000,13649.600000,156.690000,5212.010000,50.010000,18.000000
75%,NaN,NaN,20000.000000,20000.000000,20000.000000,15.050000,602.300000,9.400000e+04,NaN,NaN,24.760000,0.000000,1.000000,53.000000,96.000000,14.00000,0.000000,18526.250000,62.700000,29.000000,12708.370000,12708.370000,10463.402368,10460.010000,7584.910000,2511.150000,0.000000,0.000000,0.000000,932.390000,0.000000,62.000000,1.0,1.450000e+05,25.335000,0.00000,0.000000,2.131190e+05,1.00000,3.00000,1.000000,2.000000,24.000000,44347.000000,84.000000,2.000000,4.000000,7370.000000,69.000000,45600.000000,1.00000,2.000000,3.000000,6.000000,19535.000000,18271.000000,74.900000,0.000000,0.00000,153.000000,232.00000,19.000000,11.000000,2.000000,30.000000,56.000000,11.000000,52.000000,0.00000,5.000000,7.000000,6.000000,9.000000,11.000000,10.000000,16.00000,7.000000,14.00000,0.0,0.00000,0.000000,3.000000,100.000000,57.100000,0.000000,0.000000,2.620050e+05,63325.500000,33100.000000,6.041825e+04,42777.500000,1.000000,2.000000,15.000000,80.000000,4.000000,17.000000,0.000000,0.000000,55.000000,3.0,287.275000,3.0,22.000000,821.775000,21798.910000,345.547500,9899.000000,60.000000,24.000000
max,NaN,NaN,40000.000000,40000.000000,40000.000000,30.990000,1618.030000,8.000000e+06,NaN,NaN,999.000000,36.000000,5.000000,202.000000,120.000000,75.00000,18.000000,629372.000000,142.500000,165.000000,35250.640000,35250.640000,48577.425434,48577.430000,40000.000000,14425.310000,383.670000,18776.000000,5632.800000,40747.670000,9.000000,202.000000,1.0,1.300000e+06,39.990000,2.00000,104600.000000,4.348538e+06,11.00000,37.00000,6.000000,16.000000,424.000000,827988.000000,311.000000,22.000000,37.000000,157167.000000,160.000000,937700.000000,24.00000,41.000000,42.000000,37.000000,434854.000000,298770.000000,181.000000,5.000000,69615.00000,501.000000,821.00000,326.000000,233.000000,23.000000,539.000000,202.000000,24.000000,202.000000,33.00000,24.000000,35.000000,38.000000,54.000000,127.000000,69.000000,90.00000,34.000000,75.00000,0.0,2.00000,36.000000,23.000000,100.000000,100.000000,7.000000,18.000000,9.999999e+06,897835.000000,364000.000000,1.310923e+06,324858.000000,6.000000,13.000000,56.000000,159.300000,39.000000,62.000000,21.000000,12.000000,131.000000,3.0,833.670000,3.0,30.000000,2335.470000,35840.940000,1026.410000,24554.000000,98.570000,24.000000

In [19]:
# numpy 함수로 데이터 shape 확인
np.shape(df)

(50000, 145)

In [20]:
# 인덱스
df.index

RangeIndex(start=0, stop=50000, step=1)

In [ ]:
# 컬럼
df.columns

데이터셋을 살펴 본 결과 정체를 알 수 없는 많은 컬럼이 있는 걸 확인했고, 

50000개의 샘플이 불러들여진 것을 확인 할 수 있었습니다.

추가로 데이터 중간 중간 비어있는 값도 있는 것을 확인했습니다.

## **5. 데이터접근 (인덱싱, 슬라이싱, 샘플링)**

In [23]:
# 첫 샘플 혹은 레코드(대출건)에 대한 데이터를 살펴보겠습니다.
# 인덱스넘버로 데이터에 접근하는 .iloc[색인]
df.iloc[0]

id                         NaN
member_id                  NaN
loan_amnt                10000
funded_amnt              10000
funded_amnt_inv          10000
                         ...
settlement_status          NaN
settlement_date            NaN
settlement_amount          NaN
settlement_percentage      NaN
settlement_term            NaN
Name: 0, Length: 145, dtype: object

In [24]:
# 10번 인덱스 부터 20번 인덱스 샘플 접근
df.iloc[10:20]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
10,NaN,NaN,40000,40000,40000.0,60 months,16.02,973.15,C,C5,IT Manager - Business Process,10+ years,OWN,140000.0,Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,292xx,SC,31.79,1.0,Aug-1999,0.0,3.0,NaN,11.0,0.0,34632,59.5,52.0,w,33288.83,33288.83,13602.030000,13602.03,6711.17,6890.86,0.00,0.0,0.0,Feb-2019,973.15,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,59.0,81346.0,0.0,3.0,0.0,0.0,29.0,46714.0,50.0,0.0,1.0,19100.0,53.0,104500.0,0.0,0.0,1.0,1.0,8135.0,63703.0,57.9,0.0,0.0,220.0,213.0,13.0,13.0,0.0,13.0,NaN,9.0,3.0,0.0,2.0,6.0,2.0,17.0,22.0,8.0,30.0,6.0,11.0,0.0,0.0,0.0,0.0,98.0,0.0,0.0,0.0,197500.0,81346.0,88000.0,93000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,18000,18000,18000.0,60 months,13.59,415.02,C,C2,Strategic Account Manager,1 year,MORTGAGE,325000.0,Source Verified,Dec-2017,In Grace Period,n,NaN,NaN,debt_consolidation,Debt consolidation,027xx,MA,14.12,0.0,Nov-2003,0.0,67.0,NaN,16.0,0.0,28674,81.7,38.0,w,15060.28,15060.28,5368.080000,5368.08,2939.72,2428.36,0.00,0.0,0.0,Jan-2019,415.02,Mar-2019,Feb-2019,0.0,67.0,1,Individual,NaN,NaN,NaN,0.0,0.0,709276.0,2.0,12.0,3.0,7.0,3.0,265051.0,88.0,0.0,0.0,17184.0,88.0,35100.0,2.0,0.0,7.0,7.0,44330.0,6426.0,81.7,0.0,0.0,118.0,169.0,44.0,3.0,5.0,44.0,67.0,1.0,67.0,1.0,2.0,2.0,2.0,9.0,18.0,2.0,14.0,2.0,16.0,0.0,0.0,0.0,3.0,97.3,100.0,0.0,0.0,755076.0,293725.0,35100.0,276976.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,6025,6025,6025.0,36 months,17.09,215.08,D,D1,Account Manager,5 years,RENT,62000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,010xx,MA,14.65,0.0,Aug-2004,1.0,NaN,NaN,9.0,0.0,6363,37.4,15.0,w,750.33,750.33,6002.550000,6002.55,5274.67,727.88,0.00,0.0,0.0,Feb-2019,215.08,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,578.0,21201.0,0.0,3.0,1.0,2.0,9.0,14838.0,57.0,1.0,3.0,1997.0,49.0,17000.0,2.0,0.0,3.0,5.0,2356.0,10637.0,37.4,0.0,0.0,157.0,160.0,8.0,8.0,0.0,8.0,NaN,2.0,NaN,0.0,5.0,5.0,5.0,5.0,8.0,5.0,7.0,5.0,9.0,0.0,0.0,0.0,2.0,100.0,40.0,0.0,0.0,42956.0,21201.0,17000.0,25956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,18000,18000,18000.0,36 months,9.44,576.09,B,B1,sales associate,2 years,OWN,22000.0,Source Verified,Dec-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,439xx,OH,31.21,0.0,Feb-2008,3.0,NaN,NaN,15.0,0.0,1799,4.6,20.0,w,0.00,0.00,19243.700856,19243.70,18000.00,1243.70,0.00,0.0,0.0,Oct-2018,14077.77,NaN,Feb-2019,0.0,NaN,1,Joint App,70000.0,22.15,Source Verified,0.0,0.0,15737.0,3.0,2.0,1.0,1.0,5.0,13938.0,73.0,5.0,9.0,1499.0,27.0,39300.0,1.0,0.0,5.0,10.0,1049.0,24001.0,5.9,0.0,0.0,53.0,118.0,4.0,4.0,0.0,10.0,NaN,4.0,NaN,0.0,1.0,2.0,5.0,5.0,4.0,13.0,16.0,2.0,15.0,0.0,0.0,0.0,6.0,100.0,0.0,0.0,0.0,58296.0,15737.0,25500.0,18996.0,15710.0,Nov-2015,4.0,0.0,12.0,79.7,1.0,11.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,10200,10200,10200.0,36 months,11.99,338.74,B,B5,Machine operator,4 years,RENT,35000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,635xx,MO,15.26,0.0,Dec-2008,1.0,NaN,NaN,6.0,0.0,4238,26.2,19.0,w,6662.23,6662.23,4745.710000,4745.71,3537.77,1191.00,16.94,0.0,0.0,Feb-2019,338.74,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,21882.0,1.0,1.0,1.0,1.0,11.0,17644.0,90.0,1.0,4.0,2193.0,61.0,16200.0,0.0,0.0,5.0,5.0,3647.0,5493.0,31.3,0.0,0.0,108.0,26.0,4.0,4.0,0.0,14.0,NaN,4.0,NaN,0.0,2.0,3.0,3.0,3.0,14.0,5.0,5.0,3.0,6.0,0.0,0.0,0.0,2.0,100.0,33.3,0.0,0.0,35828.0,21882.0,8000.0,19628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,28000,28000,28000.0,36 months,12.62,938.32,C,C1,Vice President,3 years,RENT,270000.0,Source Verified,Dec-2017,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,945xx,CA,8.25,0.0,Mar-1996,0.0,65.0,NaN,5.0,0.0,16087,96.9,14.0,w,0.00,0.00,29679.376794,29679.38,28000.00,1679.38,0.00,0.0,0.0,May-2018,25867.20,NaN,Dec-2018,0.0,65.0,1,Individual,NaN,NaN,NaN,0.0,0.0,79735.0,1.0,2.0,1.0,2.0,3.0,63648.0,94.0,0.0,1.0,6758.0,96.0,16600.0,1.0,3.0,1.0,3.0,15947.0,513.0,96.9,0.0,0.0,143.0,261.0,16.0,3.0,1.0,16.0,NaN,3.0,NaN,1.0,3.0,3.0,3.0,4.0,7.0,3.0,6.0,3.0,5.0,0.0,0.0,0.0,1.0,92.9,100.0,0.0,0.0,92465.0,79735.0,16600.0,75865.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,23000,23000,23000.0,60 months,19.03,597.02,D,D3,Installation Manager,10+ years,MORTGAGE,75000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,585xx,ND,27.64,0.0,Dec-2002,1.0,43.0,NaN,14.0,0.0,21795,56.6,22.0,w,19390.68,19390.68,8309.650000,8309.65,3609.32,4700.33,0.00,0.0,0.0,Feb-2019,597.02,Mar-2019,Feb-2019,0.0,50.0,1,Individual,NaN,NaN,NaN,0.0,0.0,165604.0,0.0,4.0,0.0,2.0,13.0,35227.0,56.0,1.0,2.0,7087.0,56.0,38500.0,2.0,3.0,1.0,4.0,12739.0,16705.0,56.6,0.0,0.0,179.0,157.0,11.0,11.0,4.0,11.0,NaN,0.0,50.0,1.0,6.0,6.0,8.0,8.0,8.0,9.0,10.0,6.0,14.0,0.0,0.0,0.0,1.0,90.9,12.5,0.0,0.0,224502.0,57022.0,38500.0,63302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,10000,10000,10000.0,60 months,21.45,273.08,D,D5,Senior Agent,2 years,RENT,26685.0,Verified,Dec-2017,Late (31-120 days),n,NaN,NaN,moving,Moving and relocation,331xx,FL,23.12,0.0,Sep-2011,0.0,NaN,NaN,4.0,0.0,3083,28.0,5.0,w,8787.42,8787.42,3369.630000,3369.63,1212.58,2112.05,45.00,0.0,0.0,Jan-2019,1103.48,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,17794.0,0.0,1.0,0.0,1.0,22.0,14711.0,74.0,0.0,0.0,2074.0,58.0,11000.0,0.0,0.0,0.0,1.0,4449.0,7917.0,28.0,0.0,0.0,22.0,75.0,31.0,22.0,0.0,54.0,NaN,NaN,NaN,0.0,2.0,2.0,3.0,3.0,1.0,3.0,4.0,2.0,4.0,0.0,0.0,0.0,0.0,100.0,66.7,0.0,0.0,30845.0,17794.0,11000.0,19845.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,12000,12000,12000.0,60 months,12.62,270.71,C,C1,commercial sales,10+ years,OWN,40000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,394xx,MS,7.74,0.0,Nov-1986,0.0,NaN,NaN,3.0,0.0,5742,13.9,10.0,w,9832.57,9832.57,3773.110000,3773.11,2167.43,1605.68,0.00,0.0,0.0,Feb-2019,270.71,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,383.0,5742.0,0.0,0.0,0.0,1.0,24.0,0.0,NaN,0.0,0.0,5581.0,14.0,41300.0,0.0,0.0,0.0,1.0,1914.0,35558.0,13.9,0.0,0.0,137.0,372.0,52.0,24.0,0.0,52.0,NaN,NaN,NaN,0.0,2.0,2.0,3.0,7.0,2.0,3.0,8.0,2.0,3.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,41300.0,5742.0,41300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,1500,1500,1500.0,36 months,18.06,54.28,D,D2,sales,10+ years,RENT,75000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,197xx,DE,9.50,0.0,Mar-2004,2.0,NaN,85.0,7.0,1.0,8265,62.6,12.0,w,1009.98,1009.98,767.450000,767.45,490.02,277.43,0.00,0.0,0.0,Feb-2019,54.28,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,22912.0,2.0,1.0,1.0,1.0,4.0,14647.0,98.0,1.0,2.0,5966.0,81.0,13200.0,1.0,0.0,2.0,3.0,3819.0,34.0,99.4,0.0,0.0,155.0,165.0,1.0,1.0,0.0,49.0,NaN,1.0,NaN,0.0,1.0,3.0,1.0,2.0,5.0,6.0,7.0,3.0,7.0,0.0,0.0,0.0,2.0,100.0,100.0,1.0,0.0,28200.0,22912.0,6000.0,15000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 첫번째 0, 10, 20 인덱스 샘플 접근
df.iloc[[0, 10, 20]]

In [25]:
# 컬럼 단위 샘플 접근
df['emp_title']

0                      mechanic
1                           NaN
2                  Truck driver
3        Confidential Secretary
4               General Manager
                  ...
49995       Clinical Supervisor
49996                consultant
49997         Controls Engineer
49998              Hair Stylist
49999            Store manager
Name: emp_title, Length: 50000, dtype: object

In [26]:
# 여러 컬럼 동시 접근
df[['emp_title', 'grade']]

                    emp_title grade
0                    mechanic     B
1                         NaN     B
2                Truck driver     C
3      Confidential Secretary     B
4             General Manager     C
...                       ...   ...
49995     Clinical Supervisor     D
49996              consultant     C
49997       Controls Engineer     C
49998            Hair Stylist     A
49999          Store manager      C

[50000 rows x 2 columns]

In [ ]:
# row와 columns을 동시에 슬라이싱 하는 속성
# df.loc[인덱스, 컬럼명]
df.loc[10:20, ['emp_title', 'grade']]

기본적인 인덱싱 방법에 추가로 조건에 따른 데이터 샘플링도 가능합니다.

In [ ]:
df[df['emp_title'] == 'ceo']

In [ ]:
# 신용등급 A와 B인 샘플접근
df[(df['grade'] == 'A') | (df['grade'] == 'B')]
# 조건식을 여러개 써야 한다면 조건마다 ()로 감싸주시는 것이 좋습니다.

In [49]:
df['addr_state'].head(50)

0     TX
1     SC
2     TX
3     NY
4     KS
5     CA
6     TX
7     CA
8     TX
9     MS
10    SC
11    MA
12    MA
13    OH
14    MO
15    CA
16    ND
17    FL
18    MS
19    DE
20    TX
21    TX
22    MO
23    GA
24    NC
25    TX
26    IN
27    CA
28    CA
29    OR
30    OH
31    VA
32    FL
33    MD
34    MO
35    HI
36    NJ
37    GA
38    CA
39    NY
40    CO
41    OR
42    PA
43    CA
44    OR
45    FL
46    WA
47    MN
48    FL
49    CA
Name: addr_state, dtype: object

In [53]:
# 뉴옥의 거주하고 있는 사람들의 평균연봉
df[df['addr_state']=='NY']['annual_inc'].mean()

80366.32691612256

In [54]:
#데이터에서 텍사스에 거주하고 있는 사람들의 수
len(df[df['addr_state']=='TX'])

4197

In [56]:
#데이터에서 신용등급이 A, B 인 사람들의 이자율 평균에서 C,D인 사람들의 평균
df[(df['grade'] == 'A') | (df['grade'] == 'B')]['int_rate'].mean() - df[(df['grade'] == 'D') | (df['grade'] == 'C')]['int_rate'].mean()

-6.814628294088248

## **6. 데이터프레임 병합**
    실제 분석업무를 진행하다보면 데이터가 여기저기 분산되어 있을 경우가 더 많습니다.
    조각난 데이터를 분석에 필요한 데이터셋으로 만들기 위해 데이터프레임 병합을 많이 사용합니다.
    한개 이상의 데이터프레임을 병합 할 때 주로 사용하는 함수 2가지를 알아보겠습니다.

### 6-1. 데이터 병합에 사용가능한 key(병합할 기준이 되는 행 or 열)값이 있는경우
    pd.merge(베이스데이터프레임, 병합할데이터프레임)
    
    사용가능한 파라메터
    - how : 'left', 'right', 'inner', 'outer'
    - left_on : key값이 다를 경우 베이스데이터프레임의 key 설정
    - right_on : key값이 다를 경우 병합데이터프레임의 key 설정

In [57]:
merge_df1 = pd.DataFrame({
    '이름': ['원영', '사쿠라', '유리', '예나', '유진', '나코', '은비', '혜원', '히토미', '채원', '민주', '째욘'],
    '국어': [100, 70, 70, 70, 60, 90, 90, 70, 70, 80, 100, 100],
    '영어': [100, 90, 80, 50, 70, 100, 70, 90, 100, 100, 80, 100]
    }, columns=['이름', '국어', '영어'])

merge_df2 = pd.DataFrame({
    '일어': [80, 100, 100, 90, 70, 50, 100],
    '수학': [90, 70, 100, 80, 70, 80, 90],
    '이름': ['원영', '사쿠라', '나코', '히토미', '예나', '은비', '째욘'],
    }, columns=['일어', '수학', '이름'])

In [64]:
pd.merge(merge_df1, merge_df2, how='outer')

     이름   국어   영어     일어     수학
0    원영  100  100   80.0   90.0
1   사쿠라   70   90  100.0   70.0
2    유리   70   80    NaN    NaN
3    예나   70   50   70.0   70.0
4    유진   60   70    NaN    NaN
5    나코   90  100  100.0  100.0
6    은비   90   70   50.0   80.0
7    혜원   70   90    NaN    NaN
8   히토미   70  100   90.0   80.0
9    채원   80  100    NaN    NaN
10   민주  100   80    NaN    NaN
11   째욘  100  100  100.0   90.0

In [58]:
merge_df1

     이름   국어   영어
0    원영  100  100
1   사쿠라   70   90
2    유리   70   80
3    예나   70   50
4    유진   60   70
5    나코   90  100
6    은비   90   70
7    혜원   70   90
8   히토미   70  100
9    채원   80  100
10   민주  100   80
11   째욘  100  100

In [59]:
merge_df2

    일어   수학   이름
0   80   90   원영
1  100   70  사쿠라
2  100  100   나코
3   90   80  히토미
4   70   70   예나
5   50   80   은비
6  100   90   째욘

### 6-2. 단순 데이터 연결
    pd.concat([베이스데이터프레임, 병합할데이터프레임], axis=0 or 1)
    
    현재 df에 저장되어있는 데이터에 추가로 5만개의 데이터를 이어붙여보겠습니다.
    df1이라는 변수에 이어붙일 데이터를 불러들여 병합을 진행해보겠습니다.

In [67]:
# df1 변수에 loan2.csv 파일을 읽어들입니다.
df1 = pd.read_csv('loan2.csv')
# 데이터프레임 확인
df1

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,9000,9000,9000.0,36 months,14.08,307.95,C,C3,Respiratory therapist,3 years,RENT,60000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,334xx,FL,14.92,0.0,Dec-2008,0.0,NaN,NaN,10.0,0.0,7440,87.5,13.0,f,5702.32,5702.32,4612.210000,4612.21,3297.68,1314.53,0.0,0.0,0.0,Feb-2019,307.95,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,39298.0,0.0,7.0,0.0,0.0,50.0,31858.0,78.0,1.0,1.0,6518.0,79.0,8500.0,0.0,0.0,0.0,1.0,3930.0,0.0,100.3,0.0,0.0,98.0,107.0,9.0,9.0,0.0,73.0,NaN,NaN,NaN,0.0,1.0,2.0,1.0,2.0,7.0,3.0,6.0,2.0,10.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,49493.0,39298.0,6500.0,40993.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,NaN,NaN,MORTGAGE,27000.0,Verified,Nov-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,980xx,WA,60.84,0.0,May-1999,0.0,NaN,67.0,12.0,1.0,8534,42.2,28.0,f,0.00,0.00,10966.728110,10966.73,10000.00,966.73,0.0,0.0,0.0,Jan-2019,6811.32,NaN,Feb-2019,0.0,NaN,1,Joint App,98000.0,35.07,Verified,0.0,0.0,266115.0,0.0,3.0,0.0,2.0,13.0,54046.0,86.0,1.0,3.0,4237.0,75.0,20200.0,1.0,7.0,0.0,5.0,24192.0,2815.0,62.0,0.0,0.0,123.0,221.0,8.0,8.0,1.0,13.0,NaN,13.0,NaN,0.0,2.0,6.0,2.0,5.0,12.0,8.0,15.0,6.0,12.0,0.0,0.0,0.0,1.0,100.0,0.0,1.0,0.0,327918.0,62580.0,7400.0,63135.0,39651.0,Apr-2000,0.0,1.0,22.0,66.0,6.0,28.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,23800,23800,23800.0,60 months,7.97,482.24,A,A5,Advsr msp,10+ years,MORTGAGE,150000.0,Source Verified,Nov-2017,Charged Off,n,NaN,NaN,medical,Medical expenses,902xx,CA,7.74,0.0,Jun-1984,1.0,NaN,NaN,13.0,0.0,4839,6.8,29.0,w,0.00,0.00,0.000000,0.00,0.00,0.00,0.0,0.0,0.0,NaN,0.00,NaN,Nov-2017,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,491168.0,0.0,1.0,0.0,1.0,13.0,46865.0,36.0,0.0,0.0,1212.0,10.0,119300.0,0.0,4.0,1.0,2.0,40931.0,101701.0,5.0,0.0,0.0,170.0,401.0,27.0,13.0,8.0,27.0,NaN,1.0,NaN,0.0,3.0,5.0,5.0,6.0,5.0,10.0,15.0,5.0,13.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,632947.0,51704.0,104500.0,59647.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,3000,3000,3000.0,36 months,7.97,93.97,A,A5,Houseperson utility,5 years,RENT,64000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,891xx,NV,5.59,0.0,Nov-2013,0.0,NaN,NaN,14.0,0.0,6945,11.3,25.0,w,1427.04,1427.04,1798.670000,1798.67,1572.96,225.71,0.0,0.0,0.0,Feb-2019,120.00,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,6945.0,2.0,0.0,0.0,0.0,40.0,0.0,NaN,4.0,7.0,2241.0,11.0,61500.0,0.0,0.0,1.0,7.0,496.0,39296.0,14.6,0.0,0.0,40.0,48.0,2.0,2.0,0.0,2.0,NaN,8.0,NaN,0.0,8.0,9.0,11.0,17.0,1.0,14.0,24.0,9.0,14.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,61500.0,6945.0,46000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,16000,16000,16000.0,60 months,12.62,360.95,C,C1,Officer,10+ years,OWN,90000.0,Not Verified,Nov-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,913xx,CA,26.74,0.0,Jun-2007,3.0,NaN,NaN,19.0,0.0,20047,15.2,44.0,w,12886.97,12886.97,5391.810000,5391.81,3113.03,2278.78,0.0,0.0,0.0,Feb-2019,360.95,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,413901.0,6.0,5.0,5.0,9.0,2.0,69704.0,95.0,5.0,11.0,10871.0,33.0,132200.0,3.0,5.0,7.0,20.0,21784.0,89954.0,14.5,0.0,0.0,123.0,125.0,4.0,2.0,2.0,4.0,NaN,6.0,NaN,0.0,9.0,11.0,10.0,16.0,13.0,13.0,29.0,11.0,19.0,0.0,0.0,0.0,10.0,100.0,10.0,0.0,0.0,548781.0,89751.0,105200.0,75781.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,NaN,NaN,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96,3312.80,2048.16,0.0,0.0,0.0,Feb-2019,279.72,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,7921.0,45212.0,2.0,2.0,0.0,1.0,24.0,35620.0,36.0,3.0,4.0,4052.0,38.0,24500.0,2.0,2.0,1.0,5.0,4110.0,1807.0,70.9,0.0,0.0,157.0,164.0,1.0,1.0,2.0,9.0,NaN,9.0,NaN,0.0,2.0,4.0,3.0,9.0,11.0,10.0,21.0,4.0,12.0,0.0,0.0,0.0,3.0,100.0,66.7,0.0,0.0,73948.0,45212.0,6200.0,49448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49995,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,13.0,NaN,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80,12000.00,2499.80,0.0,0.0,0.0,Aug-2018,182.74,NaN,Sep-2017,0.0,46.0,1,Joint App,135000.0,7.36,Not Verified,0.0,550.0,346404.0,0.0,1.0,1.0,1.0,8.0,9431.0,78.0,0.0,3.0,2238.0,44.0,17300.0,5.0,1.0,7.0,4.0,34640.0,9162.0,19.6,0.0,0.0,163.0,174.0,16.0,8.0,4.0,141.0,46.0,0.0,17.0,2.0,1.0,4.0,2.0,5.0,4.0,7.0,18.0,4.0,10.0,0.0,0.0,0.0,1.0,76.9,50.0,0.0,0.0,382275.0,12928.0,11400.0,12125.0,13710.0,Apr-2003,1.0,4.0,11.0,71.6,1.0,17.0,0.0,0.0,7.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,NaN,NaN,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94,4006.73,1300.21,0.0,0.0,0.0,Feb-2019,332.10,Mar-2019,Feb-2019,1.0,NaN,1,Individual,NaN,NaN,NaN,0.0,77.0,189735.0,1.0,2.0,1.0,2.0,3.0,29354.0,100.0,0.0,1.0,1864.0,93.0,10000.0,0.0,0.0,3.0,3.0,31623.0,136.0,93.2,0.0,0.0,134.0,271.0,15.0,3.0,3.0,111.0,NaN,3.0,NaN,0.0,1.0,3.0,1.0,2.0,4.0,3.0,6.0,3.0,6.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,203417.0,36448.0,2000.0,29317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0,Jul-2003,1.0,7.0,NaN,8.0,0.0,12927,34.9,17.0,w,9924.69,9924.69,5207.290000,5207.29,2075.31,3131.98,0.0,0.0,0.0,Feb-2019,327.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,535.0,65238.0,2.0,4.0,2.0,3.0,4.0,52311.0,64.0,1.0,2.0,2406.0,55.0,37000.0,0.0,12.0,4.0,5.0,8155.0,18789.0,14.6,0.0,0.0,170.0,67.0,4.0,4.0,0.0,16.0,9.0,5.0,7.0,0.0,2.0,3.0,2.0,3.0,12.0,4.0,5.0,3.0,8.0,0.0,0.0,0.0,3.0,88.2,0.0,0.0,0.0,118975.0,65238.0,22000.0,81975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,18.40,0.0,Apr-2014,1.0,NaN,NaN,13.0,0.0,25760,50.8,14.0,w,13541.01,13541.01,7355.500000,7355.50,3008.99,4346.51,0.0,0.0,0.0,Feb-2019,500.00,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,25760.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,3.0,8.0,6158.0,51.0,50700.0,0.0,0.0,2.0,8.0,1982.0,9816.0,49.7,0.0,0.0,NaN,41.0,3.0,3.0,0.0,10.0,NaN,0.0,NaN,0.0,5.0,12.0,5.0,5.0,0.0,13.0,14.0,12.0,13.0,0.0,0.0,0.0,3.0,100.0,20.0,0.0,0.0,50700.0,25760.0,19500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
# df 와 df1 shape 확인
df.shape, df1.shape

((50000, 145), (49999, 145))

In [68]:
# 데이터프레임 행단위 병합
df = pd.concat([df, df1])

In [69]:
# 병합 데이터프레임 shape 확인
df.shape

(99999, 145)

In [70]:
# 데이터 확인
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
49994,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,NaN,NaN,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96,3312.80,2048.16,0.0,0.0,0.0,Feb-2019,279.72,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,7921.0,45212.0,2.0,2.0,0.0,1.0,24.0,35620.0,36.0,3.0,4.0,4052.0,38.0,24500.0,2.0,2.0,1.0,5.0,4110.0,1807.0,70.9,0.0,0.0,157.0,164.0,1.0,1.0,2.0,9.0,NaN,9.0,NaN,0.0,2.0,4.0,3.0,9.0,11.0,10.0,21.0,4.0,12.0,0.0,0.0,0.0,3.0,100.0,66.7,0.0,0.0,73948.0,45212.0,6200.0,49448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49995,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,13.0,NaN,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80,12000.00,2499.80,0.0,0.0,0.0,Aug-2018,182.74,NaN,Sep-2017,0.0,46.0,1,Joint App,135000.0,7.36,Not Verified,0.0,550.0,346404.0,0.0,1.0,1.0,1.0,8.0,9431.0,78.0,0.0,3.0,2238.0,44.0,17300.0,5.0,1.0,7.0,4.0,34640.0,9162.0,19.6,0.0,0.0,163.0,174.0,16.0,8.0,4.0,141.0,46.0,0.0,17.0,2.0,1.0,4.0,2.0,5.0,4.0,7.0,18.0,4.0,10.0,0.0,0.0,0.0,1.0,76.9,50.0,0.0,0.0,382275.0,12928.0,11400.0,12125.0,13710.0,Apr-2003,1.0,4.0,11.0,71.6,1.0,17.0,0.0,0.0,7.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49996,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,NaN,NaN,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94,4006.73,1300.21,0.0,0.0,0.0,Feb-2019,332.10,Mar-2019,Feb-2019,1.0,NaN,1,Individual,NaN,NaN,NaN,0.0,77.0,189735.0,1.0,2.0,1.0,2.0,3.0,29354.0,100.0,0.0,1.0,1864.0,93.0,10000.0,0.0,0.0,3.0,3.0,31623.0,136.0,93.2,0.0,0.0,134.0,271.0,15.0,3.0,3.0,111.0,NaN,3.0,NaN,0.0,1.0,3.0,1.0,2.0,4.0,3.0,6.0,3.0,6.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,203417.0,36448.0,2000.0,29317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49997,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0,Jul-2003,1.0,7.0,NaN,8.0,0.0,12927,34.9,17.0,w,9924.69,9924.69,5207.290000,5207.29,2075.31,3131.98,0.0,0.0,0.0,Feb-2019,327.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,535.0,65238.0,2.0,4.0,2.0,3.0,4.0,52311.0,64.0,1.0,2.0,2406.0,55.0,37000.0,0.0,12.0,4.0,5.0,8155.0,18789.0,14.6,0.0,0.0,170.0,67.0,4.0,4.0,0.0,16.0,9.0,5.0,7.0,0.0,2.0,3.0,2.0,3.0,12.0,4.0,5.0,3.0,8.0,0.0,0.0,0.0,3.0,88.2,0.0,0.0,0.0,118975.0,65238.0,22000.0,81975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
49998,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,18.40,0.0,Apr-2014,1.0,NaN,NaN,13.0,0.0,25760,50.8,14.0,w,13541.01,13541.01,7355.500000,7355.50,3008.99,4346.51,0.0,0.0,0.0,Feb-2019,500.00,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,25760.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,3.0,8.0,6158.0,51.0,50700.0,0.0,0.0,2.0,8.0,1982.0,9816.0,49.7,0.0,0.0,NaN,41.0,3.0,3.0,0.0,10.0,NaN,0.0,NaN,0.0,5.0,12.0,5.0,5.0,0.0,13.0,14.0,12.0,13.0,0.0,0.0,0.0,3.0,100.0,20.0,0.0,0.0,50700.0,25760.0,19500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## **7. 인덱스 조작**
    방금 전 concat으로 병합한 데이터프레임의 이상한 점을 찾으셨나요?
    데이터 자체는 잘 붙였지만 인덱스가 꼬여있습니다.
    인덱스 조작은 데이터분석을 위해 필요한 인덱스를 설정하기 위해 필요합니다.

In [71]:
# 뷰를 본다
df.reset_index()

,index,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0,Jul-2007,0.0,34.0,NaN,8.0,0.0,5225,73.6,30.0,w,6442.28,6442.28,4493.810000,4493.81,3557.72,936.09,0.0,0.0,0.0,Feb-2019,320.05,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,173110.0,0.0,2.0,0.0,2.0,23.0,12496.0,39.0,0.0,0.0,3949.0,45.0,7100.0,1.0,0.0,0.0,2.0,21639.0,1875.0,73.6,0.0,0.0,125.0,78.0,26.0,23.0,3.0,26.0,NaN,21.0,NaN,0.0,2.0,2.0,4.0,4.0,21.0,4.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,96.4,25.0,0.0,0.0,196130.0,17756.0,7100.0,31992.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0,Jun-2002,0.0,39.0,28.0,12.0,3.0,6953,51.9,38.0,w,2266.55,2266.55,1586.770000,1586.77,1233.45,353.32,0.0,0.0,0.0,Feb-2019,113.63,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,339028.0,0.0,4.0,0.0,3.0,22.0,76501.0,69.0,1.0,2.0,1628.0,65.0,13400.0,1.0,5.0,1.0,5.0,28252.0,808.0,82.4,0.0,0.0,164.0,186.0,7.0,7.0,2.0,7.0,39.0,7.0,39.0,0.0,4.0,7.0,4.0,10.0,19.0,7.0,17.0,7.0,12.0,0.0,0.0,0.0,1.0,97.3,75.0,0.0,3.0,416685.0,83454.0,4600.0,110595.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0,Aug-2002,0.0,44.0,NaN,4.0,0.0,3401,97.2,12.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,44.0,1,Individual,NaN,NaN,NaN,0.0,0.0,51673.0,1.0,3.0,1.0,1.0,5.0,48272.0,48.0,0.0,0.0,3401.0,53.0,3500.0,2.0,0.0,3.0,1.0,12918.0,99.0,97.2,0.0,0.0,135.0,184.0,54.0,5.0,0.0,54.0,44.0,5.0,44.0,2.0,1.0,1.0,1.0,4.0,6.0,1.0,6.0,1.0,4.0,0.0,0.0,0.0,1.0,83.3,100.0,0.0,0.0,82176.0,51673.0,3500.0,78676.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0,Apr-2003,0.0,74.0,NaN,8.0,0.0,12918,59.5,16.0,w,9090.87,9090.87,6391.530000,6391.53,4909.13,1482.40,0.0,0.0,0.0,Feb-2019,457.75,Mar-2019,Feb-2019,0.0,74.0,1,Individual,NaN,NaN,NaN,0.0,457.0,29103.0,1.0,1.0,1.0,2.0,4.0,16185.0,95.0,1.0,5.0,10153.0,75.0,21700.0,2.0,6.0,0.0,7.0,3638.0,7265.0,61.6,0.0,0.0,36.0,176.0,7.0,4.0,0.0,7.0,NaN,16.0,74.0,1.0,2.0,4.0,3.0,4.0,4.0,7.0,12.0,4.0,8.0,0.0,0.0,0.0,2.0,93.8,33.3,0.0,0.0,38704.0,29103.0,18900.0,17004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0,Jun-1999,0.0,NaN,NaN,5.0,0.0,4497,91.8,6.0,w,3291.95,3291.95,2371.050000,2371.05,1708.05,663.00,0.0,0.0,0.0,Feb-2019,169.90,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,471.0,7202.0,0.0,1.0,0.0,0.0,71.0,2705.0,12.0,0.0,0.0,1483.0,27.0,4900.0,0.0,1.0,0.0,0.0,1440.0,403.0,91.8,0.0,0.0,149.0,222.0,43.0,43.0,0.0,43.0,NaN,NaN,NaN,0.0,4.0,4.0,4.0,4.0,2.0,4.0,4.0,4.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,26841.0,7202.0,4900.0,21941.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,49994,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0,Jan-2004,0.0,NaN,NaN,12.0,0.0,9592,39.2,34.0,w,8687.20,8687.20,5360.960000,5360.96,3312.80,2048.16,0.0,0.0,0.0,Feb-2019,279.72,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,7921.0,45212.0,2.0,2.0,0.0,1.0,24.0,35620.0,36.0,3.0,4.0,4052.0,38.0,24500.0,2.0,2.0,1.0,5.0,4110.0,1807.0,70.9,0.0,0.0,157.0,164.0,1.0,1.0,2.0,9.0,NaN,9.0,NaN,0.0,2.0,4.0,3.0,9.0,11.0,10.0,21.0,4.0,12.0,0.0,0.0,0.0,3.0,100.0,66.7,0.0,0.0,73948.0,45212.0,6200.0,49448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99995,49995,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0,Mar-2003,1.0,13.0,NaN,10.0,0.0,3497,20.2,26.0,w,0.00,0.00,14499.802172,14499.80,12000.00,2499.80,0.0,0.0,0.0,Aug-2018,182.74,NaN,Sep-2017,0.0,46.0,1,Joint App,135000.0,7.36,Not Verified,0.0,550.0,346404.0,0.0,1.0,1.0,1.0,8.0,9431.0,78.0,0.0,3.0,2238.0,44.0,17300.0,5.0,1.0,7.0,4.0,34640.0,9162.0,19.6,0.0,0.0,163.0,174.0,16.0,8.0,4.0,141.0,46.0,0.0,17.0,2.0,1.0,4.0,2.0,5.0,4.0,7.0,18.0,4.0,10.0,0.0,0.0,0.0,1.0,76.9,50.0,0.0,0.0,382275.0,12928.0,11400.0,12125.0,13710.0,Apr-2003,1.0,4.0,11.0,71.6,1.0,17.0,0.0,0.0,7.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,49996,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0,Feb-1995,0.0,NaN,NaN,6.0,0.0,7094,70.9,13.0,w,5993.27,5993.27,5306.940000,5306.94,4006.73,1300.21,0.0,0.0,0.0,Feb-2019,332.10,Mar-2019,Feb-2019,1.0,NaN,1,Individual,NaN,NaN,NaN,0.0,77.0,189735.0,1.0,2.0,1.0,2.0,3.0,29354.0,100.0,0.0,1.0,1864.0,93.0,10000.0,0.0,0.0,3.0,3.0,31623.0,136.0,93.2,0.0,0.0,134.0,271.0,15.0,3.0,3.0,111.0,NaN,3.0,NaN,0.0,1.0,3.0,1.0,2.0,4.0,3.0,6.0,3.0,6.0,0.0,0.0,0.0,1.0,100.0,100.0,0.0,0.0,203417.0,36448.0,2000.0,29317.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,49997,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0,Jul-2003,1.0,7.0,NaN,8.0,0.0,12927,34.9,17.0,w,9924.69,9924.69,5207.290000,5207.29,2075.31,3131.98,0.0,0.0,0.0,Feb-2019,327.69,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,535.0,65238.0,2.0,4.0,2.0,3.0,4.0,52311.0,64.0,1.0,2.0,2406.0,55.0,37000.0,0.0,12.0,4.0,5.0,8155.0,18789.0,14.6,0.0,0.0,170.0,67.0,4.0,4.0,0.0,16.0,9.0,5.0,7.0,0.0,2.0,3.0,2.0,3.0,12.0,4.0,5.0,3.0,8.0,0.0,0.0,0.0,3.0,88.2,0.0,0.0,0.0,118975.0,65238.0,22000.0,81975.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,49998,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,18.40,0.0,Apr-2014,1.0,NaN,NaN,13.0,0.0,25760,50.8,14.0,w,13541.01,13541.01,7355.500000,7355.50,3008.99,4346.51,0.0,0.0,0.0,Feb-2019,500.00,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,25760.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,3.0,8.0,6158.0,51.0,50700.0,0.0,0.0,2.0,8.0,1982.0,9816.0,49.7,0.0,0.0,NaN,41.0,3.0,3.0,0.0,10.0,NaN,0.0,NaN,0.0,5.0,12.0,5.0,5.0,0.0,13.0,14.0,12.0,13.0,0.0,0.0,0.0,3.0,100.0,20.0,0.0,0.0,50700.0,25760.0,19500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# 인덱스 초기화
df = df.reset_index()
# df

In [73]:
# 기존 컬럼값을 취해 index로 사용
df.set_index('index', inplace=True)

In [74]:
# 기존 인덱스값을 날리면서 인덱스 초기화
df = df.reset_index(drop=True)

## **8. 컬럼조작**
    인덱스 조작과 마찬가지로 데이터프레임의 컬럼을 변경해야 할 경우도 있습니다.
    데이터프레임은 컬럼단위 샘플링 및 인덱싱, 이름변경이 가능합니다.

In [85]:
# df 컬럼명 접근
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [86]:
# columns 속성도 인덱싱 및 슬라이싱이 가능합니다.
df.columns[0:26]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs'],
      dtype='object')

In [87]:
# df의 개인정보에 관한 컬럼만을 색인으로 df를 슬라이싱하고 person_df 변수에 바인딩
person_df = df[df.columns[0:26]]
person_df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs
0,NaN,NaN,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,762xx,TX,14.82,0.0
1,NaN,NaN,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,295xx,SC,28.51,0.0
2,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,other,Other,788xx,TX,11.62,0.0
3,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,125xx,NY,22.88,0.0
4,NaN,NaN,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,NaN,NaN,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0
99995,NaN,NaN,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0
99996,NaN,NaN,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0
99997,NaN,NaN,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0
99998,NaN,NaN,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,credit_card,Credit card refinancing,112xx,NY,18.40,0.0

### 8-1. 컬럼삭제
    현재 데이터셋에는 개인식별정보가 지워져서 데이터가 존재하지 않습니다. 불필요한 데이터 column을 지우도록 하겠습니다.

In [88]:
# 지울 column의 데이터값이 모두 NaN인지 확인
person_df['id'].sum(), person_df['member_id'].sum(), person_df['url'].sum(), person_df['desc'].sum()

(0.0, 0.0, 0.0, 0.0)

삭제할 컬럼 모두 데이터가 없는 것을 확인했습니다.

In [89]:
# 컬럼삭제 drop('컬럼명', axis=1)
# del (df['컬럼명'])
# 실제로는 컬럼 및 행도 삭제 가능합니다. axis=0(기본값)
# inplace=True 파라메터를 사용해서 원본값을 변경가능합니다.
person_df = person_df.drop('id', axis=1)
# person_df = person_df.drop('id', axis=1)

In [90]:
# inplace 파라메터 사용
person_df.drop('member_id', axis=1, inplace=True)

In [91]:
# del 메모리 삭제 키워드 사용
del person_df['url']
del person_df['desc']

In [92]:
person_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs
0,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,762xx,TX,14.82,0.0
1,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,other,Other,295xx,SC,28.51,0.0
2,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,other,Other,788xx,TX,11.62,0.0
3,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,125xx,NY,22.88,0.0
4,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0
99995,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0
99996,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0
99997,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0
99998,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,credit_card,Credit card refinancing,112xx,NY,18.40,0.0

In [ ]:
#inplace 파라미터 사용
#inplace=True 원본값 변경
person_df.drop

### 8-2. 컬럼명 변경
    경우에 따라서는 데이터셋 제작 중 컬럼명을 변경해야 할 경우도 있습니다.
    국내 수집 데이터 사용 시 컬럼이 한글일 경우 영어로 변경을 많이 합니다.

In [95]:
person_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs
0,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,762xx,TX,14.82,0.0
1,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,other,Other,295xx,SC,28.51,0.0
2,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,other,Other,788xx,TX,11.62,0.0
3,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,125xx,NY,22.88,0.0
4,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0
99995,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0
99996,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0
99997,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0
99998,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,credit_card,Credit card refinancing,112xx,NY,18.40,0.0

In [96]:
# home_ownership을 간략하게 home으로 변경
# 한글도 가능합니다만 권장하지는 않습니다.
person_df.rename(columns={'home_ownership' : 'home'}, inplace=True)

In [97]:
person_df

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs
0,10000,10000,10000.0,36 months,9.44,320.05,B,B1,mechanic,6 years,MORTGAGE,80000.0,Not Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,762xx,TX,14.82,0.0
1,3500,3500,3500.0,36 months,10.42,113.63,B,B3,NaN,NaN,OWN,90000.0,Not Verified,Dec-2017,Current,n,other,Other,295xx,SC,28.51,0.0
2,5000,5000,5000.0,36 months,13.59,169.90,C,C2,Truck driver,10+ years,OWN,168000.0,Not Verified,Dec-2017,Current,n,other,Other,788xx,TX,11.62,0.0
3,14000,14000,14000.0,36 months,10.91,457.75,B,B4,Confidential Secretary,2 years,RENT,39000.0,Source Verified,Dec-2017,Current,n,credit_card,Credit card refinancing,125xx,NY,22.88,0.0
4,5000,5000,5000.0,36 months,13.59,169.90,C,C2,General Manager,< 1 year,RENT,55000.0,Not Verified,Dec-2017,Current,n,debt_consolidation,Debt consolidation,672xx,KS,12.18,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,MORTGAGE,58000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,054xx,VT,20.88,0.0
99995,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,MORTGAGE,30000.0,Not Verified,Oct-2017,Fully Paid,n,debt_consolidation,Debt consolidation,971xx,OR,19.28,3.0
99996,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,OWN,64000.0,Source Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,603xx,IL,12.96,0.0
99997,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,RENT,60000.0,Not Verified,Oct-2017,Current,n,debt_consolidation,Debt consolidation,996xx,AK,30.82,2.0
99998,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,RENT,60000.0,Not Verified,Oct-2017,Current,n,credit_card,Credit card refinancing,112xx,NY,18.40,0.0

## **9. 데이터 샘플링**
    데이터 병합, 인덱스 조작, 컬럼 선택만으로도 불필요한 정보를 삭제하고 
    새롭게 데이터셋을 만들 수 있는것을 확인했습니다.
    위에 학습한 내용도 데이터 샘플링에 속한 내용이지만 
    지금부터는 데이터셋의 데이터를 살펴보면서 의미있는 데이터를 추려보도록 하겠습니다.
    
    데이터프레임의 기본적인 인덱싱, 슬라이싱, 조건부 샘플링을 조합하면 데이터의 샘플을 확인 하는 과정만으로도 데이터분석이 가능해집니다.

In [ ]:
# 분석에 필요한 데이터프레임을 만들었으니 원본값을 사용하겠습니다. 기존 df에 person_df 값을 덮어 씌웁니다.
df = person_df
df.to_csv('loan_df.csv')

    저는 채권자의 개인정보에 관심이 많습니다. 고객의 직업을 살펴보겠습니다.

In [98]:
df['emp_title']

0                      mechanic
1                           NaN
2                  Truck driver
3        Confidential Secretary
4               General Manager
                  ...
99994              house keeper
99995             Skilled Labor
99996                   Teacher
99997                       NaN
99998                BABYSITTER
Name: emp_title, Length: 99999, dtype: object

In [99]:
# 값을 카운트 하는 함수 value_counts()
df['emp_title'].value_counts()

Teacher                    1763
Manager                    1710
Owner                      1623
Driver                      865
Registered Nurse            742
                           ...
insurance followup            1
TBM analyst                   1
Airframes lead                1
Personnel Assitant            1
Associate Store Manager       1
Name: emp_title, Length: 35942, dtype: int64

In [ ]:
# Owner, owner 같은 직업이지만 대소문자 구분에 따라 다른 값으로 취급되는 문제가 있네요.
# 대소문자 구분을 없애기 위해 모두 소문자로 데이터값을 변경하겠습니다.
# 소문자 변환 전 혹시모를 int, float 데이터가 있을지 모를 상황에 대비해서 모두 문자열로 변경해주겠습니다.
# 형변환 함수 astype(데이터타입)
df['emp_title'] = df['emp_title'].astype(str)

In [ ]:
%%time
# 반복문을 사용한 데이터 변경도 가능
# 하지만 파이썬의 강점을 살리지 못한 코드
for index, title in enumerate(df['emp_title']):
    df['emp_title'][index] = title.lower()

### 배운사람들의 코드, 고오급 python 스킬
    numpy를 학습하면서 브로드캐스팅에 관하여 잠깐 언급했었습니다.
    그렇다만 그 파워풀하다던 브로드캐스팅은 어떻게 사용해야할까요?
    
    기타 언어에서는 지원하지 않는 기능이니만큼 파이썬의 특징을 가장 잘 살리는 코드
    apply 함수를 사용하여 인자로 받는 모든 데이터에 함수를 적용

    apply 함수로 컬럼에 적용시키는 코드 구조
    df['컬럼명'] = df['컬럼명'].apply(lambda x: func(x) if 조건문)

In [ ]:
%%time
# apply() 함수사용 반복이 가능한 데이터구조의 모든 인자에 적용
# lambda 각 인자에 적용할 함수 혹은 연산
df['emp_title'] = df['emp_title'].apply(lambda x: x.lower())

In [ ]:
# 대소문자 구분을 처리한 값 확인
df['emp_title'].value_counts()
# 기존 value_count 값과 차이가 있음을 확인 할 수 있습니다.
# 제공 된 데이터셋이라도 이와 같은 작은 차이가 있을 수 있습니다.
# 데이터를 꼼꼼하게 살펴볼 수록 디테일한 차이를 만들 수 있습니다.

In [101]:
# owner인 사람들 샘플링
df[df['emp_title'] == 'owner']

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
327,NaN,NaN,7000,7000,7000.0,36 months,12.62,234.58,C,C1,owner,10+ years,RENT,72000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,947xx,CA,7.18,0.0,Apr-2004,0.0,NaN,NaN,7.0,0.0,11504,68.9,12.0,w,4585.80,4585.80,3279.210000,3279.21,2414.20,865.01,0.00,0.0,0.0,Feb-2019,234.58,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,11504.0,0.0,0.0,0.0,0.0,66.0,0.0,NaN,1.0,1.0,3664.0,69.0,16700.0,0.0,0.0,0.0,1.0,1917.0,4072.0,62.3,0.0,0.0,107.0,164.0,10.0,10.0,0.0,10.0,NaN,NaN,NaN,0.0,4.0,6.0,4.0,4.0,2.0,7.0,9.0,6.0,7.0,0.0,0.0,0.0,1.0,100.0,75.0,0.0,0.0,16700.0,11504.0,10800.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1059,NaN,NaN,10000,10000,10000.0,60 months,23.88,286.99,E,E2,owner,7 years,OWN,88000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,home_improvement,Home improvement,282xx,NC,28.21,2.0,Nov-1997,1.0,8.0,NaN,19.0,0.0,27729,58.1,35.0,w,8595.39,8595.39,4004.590000,4004.59,1404.61,2599.98,0.00,0.0,0.0,Feb-2019,286.99,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,61522.0,1.0,2.0,0.0,2.0,22.0,33793.0,54.0,2.0,5.0,7585.0,58.0,47700.0,0.0,0.0,2.0,7.0,3845.0,8829.0,72.8,0.0,0.0,173.0,241.0,1.0,1.0,1.0,1.0,23.0,1.0,23.0,0.0,6.0,10.0,8.0,12.0,5.0,17.0,29.0,10.0,19.0,0.0,0.0,0.0,2.0,94.3,71.4,0.0,0.0,102455.0,61522.0,32400.0,54755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1337,NaN,NaN,13600,13600,13600.0,60 months,13.59,313.57,C,C2,owner,4 years,OWN,89000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,house,Home buying,775xx,TX,4.67,0.0,Aug-1993,0.0,NaN,NaN,10.0,0.0,12759,32.2,15.0,w,11194.19,11194.19,4369.440000,4369.44,2405.81,1963.63,0.00,0.0,0.0,Feb-2019,313.57,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,13482.0,1.0,0.0,2.0,2.0,3.0,723.0,56.0,0.0,6.0,4253.0,33.0,39600.0,0.0,0.0,2.0,8.0,1348.0,26095.0,31.0,0.0,0.0,7.0,292.0,13.0,3.0,0.0,13.0,NaN,7.0,NaN,0.0,5.0,6.0,8.0,10.0,2.0,9.0,12.0,7.0,10.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,40900.0,13482.0,37800.0,1300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1424,NaN,NaN,15000,15000,15000.0,36 months,10.42,486.98,B,B3,owner,10+ years,OWN,110000.0,Not Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,379xx,TN,26.70,0.0,Nov-2007,1.0,NaN,15.0,8.0,1.0,12141,66.0,11.0,w,9714.90,9714.90,6809.040000,6809.04,5285.10,1523.94,0.00,0.0,0.0,Feb-2019,486.98,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,93254.0,1.0,5.0,0.0,3.0,13.0,81113.0,68.0,1.0,2.0,7314.0,68.0,18400.0,2.0,1.0,1.0,5.0,11657.0,4109.0,73.3,0.0,0.0,80.0,121.0,6.0,6.0,0.0,13.0,NaN,1.0,NaN,0.0,2.0,3.0,2.0,2.0,8.0,3.0,3.0,3.0,8.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,1.0,137160.0,93254.0,15400.0,118760.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1511,NaN,NaN,25000,25000,24975.0,36 months,9.44,800.13,B,B1,owner,3 years,MORTGAGE,200000.0,Source Verified,Dec-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,950xx,CA,5.42,1.0,May-2006,0.0,6.0,NaN,8.0,0.0,7974,10.7,21.0,f,16105.62,16089.52,11175.600000,11164.42,8894.38,2281.22,0.00,0.0,0.0,Feb-2019,800.13,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,16581.0,1.0,2.0,1.0,2.0,3.0,8607.0,69.0,0.0,0.0,4329.0,19.0,74500.0,1.0,3.0,11.0,3.0,2073.0,66126.0,10.8,0.0,0.0,112.0,139.0,37.0,3.0,2.0,55.0,NaN,1.0,6.0,0.0,5.0,5.0,5.0,9.0,5.0,6.0,13.0,5.0,8.0,0.0,0.0,0.0,1.0,94.7,0.0,0.0,0.0,86915.0,16581.0,74100.0,12415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99374,NaN,NaN,29475,29475,29475.0,36 months,18.06,1066.48,D,D2,owner,10+ years,RENT,80000.0,Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,208xx,MD,39.24,0.0,Sep-1994,0.0,NaN,NaN,12.0,0.0,76746,80.4,19.0,w,18300.96,18300.96,17034.110000,17034.11,11174.04,5860.07,0.00,0.0,0.0,Feb-2019,1066.48,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,99735.0,1.0,2.0,1.0,1.0,6.0,22989.0,53.0,0.0,1.0,18500.0,72.0,100400.0,0.0,0.0,1.0,2.0,8311.0,18742.0,80.5,0.0,0.0,25.0,276.0,24.0,6.0,2.0,25.0,NaN,6.0,NaN,0.0,6.0,7.0,7.0,9.0,2.0,10.0,15.0,7.0,12.0,0.0,0.0,0.0,1.0,100.0,42.9,0.0,0.0,143550.0,99735.0,75800.0,43150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99396,NaN,NaN,12000,12000,12000.0,36 months,9.93,386.82,B,B2,owner,4 years,MORTGAGE,96000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,088xx,NJ,9.63,1.0,May-2001,0.0,14.0,52.0,10.0,1.0,2925,35.2,21.0,w,7102.84,7102.84,6182.500000,6182.50,4897.16,1285.34,0.00,0.0,0.0,Feb-2019,386.82,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,223.0,15965.0,0.0,3.0,0.0,1.0,22.0,13040.0,46.0,0.0,4.0,1198.0,41.0,8300.0,1.0,1.0,4.0,5.0,1597.0,4569.0,35.6,0.0,0.0,108.0,196.0,18.0,18.0,3.0,18.0,NaN,5.0,NaN,0.0,4.0,6.0,4.0,6.0,6.0,7.0,12.0,6.0,10.0,0.0,0.0,0.0,0.0,100.0,25.0,1.0,0.0,29999.0,15965.0,7100.0,21699.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99777,NaN,NaN,25000,25000,25000.0,36 months,26.30,1011.27,E,E5,owner,4 years,OWN,65000.0,Source Verified,Oct-2017,Current,n,NaN,NaN,home_improvement,Home improvement,605xx,IL,22.82,0.0,Nov-2005,2.0,NaN,NaN,11.0,0.0,17438,45.4,24.0,f,16247.48,16247.48,16194.350000,16194.35,8752.52,7391.27,50.56,0.0,0.0,Feb-2019,1011.27,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,163720.0,0.0,2.0,0.0,0.0,32.0,30434.0,54.0,0.0,0.0,7099.0,50.0,38400.0,1.0,2.0,5.0,1.0,16372.0,20962.0,45.4,0.0,0.0,134.0,142.0,52.0,11.0,1.0,58.0,NaN,0.0,NaN,0.0,4.0,4.0,8.0,13.0,9.0,8.0,14.0,4.0,11.0,0.0,0.0,0.0,1.0,100.0,28.6,0.0,0.0,213868.0,47872.0,38400.0,56718.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99805,NaN,NaN,12000,12000,12000.0,36 months,9.44,384.06,B,B1,owner,10+ years,MORTGAGE,59000.0,Not Verified,Oct-2017,Fully Paid,n,NaN,NaN,home_improvement,Home improvement,891xx,NV,26.63,0.0,Jan-2000,1.0,60.0,55.0,7.0,6.0,9865,40.9,17.0,f,0.00,0.00,12731.575414,12731.58,12000.00,731.58,0.00,0.0,0.0,Dec-2018,1260.82,NaN,Dec-2018,0.0,60.0,1,Individual,NaN,NaN,NaN,0.0,0.0,252067.0,1.0,1.0,0.0,2.0,14.0,54264.0,NaN,1.0,2.0,3677.0,41.0,24100.0,4.0,0.0,5.0,4.0,42011.0,9039.0,35.4,0.0,0.0,114.0,212.0,5.0,5.0,2.0,27.0,NaN,5.0,NaN,2.0,2.0,3.0,3.0,7.0,5.0,5.0,10.0,3.0,7.0,0.0,0.0,0.0,1.0,88.2,0.0,1.0,5.0,281432.0,64129.0,14000.0,63922.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99933,NaN,NaN,16000,16000,15950.0,36 months,17.09,571.17,D,D1,owner,10+ years,RENT,60000.0,Not Verified,Oct-2017,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,836xx,ID,33.70,0.0,Dec-1995,0.0,NaN,29.0,10.0,2.0,10465,49.1,14.0,f,9879.58,9848.71,9123.530000,9095.02,6120.42,3003.11,0.00,0.0,0.0,Feb-2019,571.17,Mar-2019,Feb-2019,0.0,NaN,1,Individual,NaN,NaN,NaN,0.0,0.0,57437.0,0.0,3.0,1.0,3.0,11.0,46972.0,41.0,2.0,2.0,5458.0,44.0,21300.0,2.0,2.0,2.0,5.0,5744.0,1496.0,83.4,0.0,0.0,65.0,261.0,7.0,7.0,0.0,7.0,NaN,7.0,NaN,0.0,3.0,6.0,3.0,4.0,5.0,7.0,9.0,6.0,10.0,0.0,0.0,0.0,3.0,100.0,66.7,1.0,1.0,94130.0,57437.0,9000.0,72830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# 샘플링 된 데이터프레임의 단일 컬럼 접근
df[df['emp_title'] == 'owner']['annual_inc']

327       72000.0
1059      88000.0
1337      89000.0
1424     110000.0
1511     200000.0
           ...
99374     80000.0
99396     96000.0
99777     65000.0
99805     59000.0
99933     60000.0
Name: annual_inc, Length: 499, dtype: float64

In [103]:
# 컬럼 평균값 계산
df[df['emp_title'] == 'ceo']['annual_inc'].mean()

328333.3333333333

In [104]:
# 코드 하나 변경으로 간단한 분석 가능
# owner가 아닌 사람들의 평균
df[df['emp_title'] != 'owner']['annual_inc'].mean()

78499.54105889445

In [105]:
# 각 직업별 평균연봉이 궁금하다
# 엑셀의 pivol table 과 비슷한 기능
df.groupby('emp_title').mean()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
emp_title,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Sr. Mechanical assesmbler,NaN,NaN,20000.0,20000.0,20000.0,16.02,486.58,52000.0,NaN,NaN,29.83,0.0,2.0,62.0,NaN,7.0,0.0,6679.0,90.3,15.0,0.00,0.00,22266.596652,22266.60,20000.00,2266.60,0.0,0.0,0.0,145.45,0.0,62.0,1.0,127000.0,20.83,0.0,0.0,270369.0,1.0,3.0,1.0,1.0,3.0,52407.0,83.0,0.0,0.0,3350.0,84.0,7400.0,1.0,3.0,4.0,1.0,38624.0,721.0,90.3,0.0,0.0,154.0,190.0,49.0,3.0,1.0,49.0,NaN,4.0,62.0,3.0,3.0,3.0,3.0,4.0,5.0,3.0,9.0,3.0,7.0,0.0,0.0,0.0,1.0,80.0,100.0,0.0,0.0,299265.0,59086.0,7400.0,63065.0,30859.0,1.0,0.0,13.0,38.1,4.0,20.0,0.0,0.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
field operator,NaN,NaN,20000.0,20000.0,20000.0,9.44,640.10,130000.0,NaN,NaN,4.32,0.0,0.0,NaN,90.0,10.0,1.0,14769.0,37.1,10.0,12345.81,12345.81,9575.280000,9575.28,7654.19,1921.09,0.0,0.0,0.0,640.10,0.0,NaN,1.0,NaN,NaN,0.0,0.0,132333.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,2.0,6.0,4782.0,37.0,39800.0,0.0,0.0,0.0,6.0,13233.0,19981.0,41.2,0.0,0.0,NaN,46.0,8.0,8.0,1.0,8.0,NaN,13.0,NaN,0.0,5.0,6.0,7.0,7.0,0.0,9.0,9.0,6.0,10.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,1.0,164008.0,14769.0,34000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AIRCRAFT MECHANICAL ASSEMBLER,NaN,NaN,10000.0,10000.0,10000.0,6.72,307.50,57000.0,NaN,NaN,10.25,0.0,1.0,NaN,NaN,6.0,0.0,10511.0,47.0,19.0,6075.97,6075.97,4586.060000,4586.06,3924.03,662.03,0.0,0.0,0.0,307.50,0.0,52.0,1.0,NaN,NaN,0.0,0.0,363001.0,1.0,1.0,1.0,1.0,9.0,14006.0,92.0,1.0,1.0,5954.0,47.0,22300.0,0.0,0.0,3.0,3.0,60500.0,7100.0,49.0,0.0,0.0,100.0,242.0,6.0,6.0,2.0,6.0,NaN,6.0,NaN,0.0,3.0,4.0,11.0,11.0,5.0,4.0,12.0,3.0,6.0,NaN,0.0,0.0,3.0,95.0,0.0,0.0,0.0,380979.0,24517.0,21300.0,15162.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Administrative Assistant,NaN,NaN,7500.0,7500.0,7500.0,9.44,240.04,35000.0,NaN,NaN,13.10,0.0,0.0,43.0,NaN,6.0,0.0,6673.0,31.9,8.0,4426.01,4426.01,3855.810000,3855.81,3073.99,781.82,0.0,0.0,0.0,240.04,0.0,NaN,1.0,NaN,NaN,0.0,0.0,11745.0,0.0,1.0,0.0,1.0,16.0,5072.0,78.0,1.0,3.0,2569.0,43.0,20900.0,0.0,1.0,1.0,4.0,1958.0,10823.0,31.9,0.0,0.0,171.0,32.0,8.0,8.0,0.0,8.0,NaN,8.0,NaN,0.0,4.0,5.0,4.0,4.0,3.0,5.0,5.0,5.0,6.0,0.0,0.0,0.0,1.0,87.5,25.0,0.0,0.0,27415.0,11745.0,15900.0,6515.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Air traffic controller,NaN,NaN,8000.0,8000.0,8000.0,6.72,246.00,101000.0,NaN,NaN,21.67,0.0,2.0,66.0,NaN,24.0,0.0,6585.0,8.8,47.0,4860.77,4860.77,3687.010000,3687.01,3139.23,547.78,0.0,0.0,0.0,246.00,0.0,75.0,1.0,NaN,NaN,0.0,0.0,98176.0,3.0,10.0,3.0,5.0,2.0,91591.0,77.0,2.0,4.0,4077.0,50.0,75200.0,2.0,2.0,3.0,9.0,4269.0,47115.0,12.3,0.0,0.0,161.0,391.0,4.0,2.0,3.0,8.0,NaN,3.0,NaN,1.0,2.0,2.0,9.0,13.0,18.0,14.0,25.0,2.0,24.0,0.0,0.0,0.0,5.0,93.6,12.5,0.0,0.0,194749.0,98176.0,53700.0,119549.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yearbook csr,NaN,NaN,7200.0,7200.0,7200.0,10.91,235.42,23000.0,NaN,NaN,15.03,5.0,0.0,13.0,NaN,12.0,0.0,3382.0,20.9,15.0,4287.10,4287.10,3779.250000,3779.25,2912.90,866.35,0.0,0.0,0.0,235.42,0.0,13.0,1.0,NaN,NaN,0.0,1528.0,14137.0,0.0,6.0,0.0,1.0,24.0,10755.0,82.0,0.0,1.0,1782.0,48.0,16200.0,0.0,0.0,0.0,2.0,1178.0,8616.0,22.4,0.0,0.0,59.0,82.0,21.0,21.0,0.0,61.0,NaN,NaN,NaN,5.0,2.0,5.0,2.0,3.0,7.0,6.0,8.0,5.0,12.0,0.0,0.0,5.0,0.0,66.7,0.0,0.0,0.0,29323.0,14137.0,11100.0,13123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
years,NaN,NaN,5000.0,5000.0,5000.0,12.62,167.56,41000.0,NaN,NaN,24.06,0.0,2.0,NaN,113.0,8.0,1.0,12047.0,76.2,8.0,3142.41,3142.41,2509.890000,2509.89,1857.59,652.30,0.0,0.0,0.0,167.56,0.0,NaN,1.0,NaN,NaN,0.0,0.0,14173.0,0.0,2.0,0.0,1.0,14.0,2126.0,15.0,0.0,1.0,6658.0,47.0,15800.0,2.0,0.0,2.0,2.0,1772.0,2226.0,84.0,0.0,0.0,37.0,122.0,23.0,14.0,0.0,23.0,NaN,5.0,NaN,0.0,4.0,5.0,4.0,4.0,2.0,6.0,6.0,5.0,8.0,0.0,0.0,0.0,0.0,100.0,75.0,1.0,0.0,30275.0,14173.0,13900.0,14475.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
yoga instructor,NaN,NaN,18700.0,18700.0,18700.0,17.09,667.55,60000.0,NaN,NaN,18.40,0.0,2.0,29.0,NaN,12.0,0.0,827.0,2.7,15.0,12042.89,12042.89,9995.500000,9995.50,6657.11,3338.39,0.0,0.0,0.0,667.55,0.0,NaN,1.0,NaN,NaN,0.0,873.0,35414.0,2.0,4.0,2.0,2.0,9.0,34587.0,80.0,4.0,4.0,571.0,48.0,31100.0,2.0,0.0,4.0,6.0,2951.0,26928.0,2.4,0.0,0.0,85.0,112.0,4.0,4.0,0.0,4.0,29.0,4.0,29.0,0.0,2.0,3.0,6.0,7.0,6.0,8.0,9.0,3.0,12.0,0.0,0.0,0.0,6.0,86.7,0.0,0.0,0.0,74305.0,35414.0,27600.0,43205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
youth attendant,NaN,NaN,4500.0,4500.0,4500.0,15.05,156.11,60000.0,NaN,NaN,14.16,0.0,0.0,29.0,NaN,16.0,0.0,4184.0,72.1,24.0,2570.04,2570.04,2654.000000,2654.00,1929.96,724.04,0.0,0.0,0.0,156.11,0.0,75.0,1.0,NaN,NaN,0.0,1288.0,44280.0,1.0,9.0,3.0,4.0,11.0,40096.0,96.0,2.0,6.0,1280.0,93.0,5800.0,2.0,3.0,0.0,10.0,2768.0,1197.0,70.1,0.0,0.0,58.0,131.0,5.0,5.0,0.0,5.0,75.0,17.0,29.0,1.0,3.0,5.0,5.0,6.0,12.0,7.0,12.0,5.0,16.0,0.0,0.0,0.0,5.0,87.5,60.0,0.0,0.0,47624.0,44280.0,4000.0,41824.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
z/OS System Analyst,NaN,NaN,20000.0,20000.0,20000.0,13.59,461.13,100000.0,NaN,NaN,18.96,2.0,0.0,2.0,NaN,20.0,0.0,12096.0,25.4,30.0,16194.84,16194.84,6901.850000,6901.85,3805.16,3096.69,0.0,0.0,0.0,461.13,0.0,77.0,1.0,NaN,NaN,0.0,0.0,114407.0,1.0,4.0,0.0,1.0,20.0,102311.0,65.0,1.0,3.0,4330.0,38.0,47700.0,1.0,0.0,1.0,5.0,5720.0,30968.0,22.8,0.0,0.0,147.0,259.0,5.0,5.0,2.0,5.0,2.0,2.0,2.0,1.0,9.0,13.0,11.0,13.0,8.0,15.0,19.0,13.0,20.0,0.0,0.0,0.0,1.0,90.0,0.0,0.0,0.0,149060.0,114407.0,40100.0,101070.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
# 위 테이블에서 연간수입 접근
df.groupby('emp_title').mean()['annual_inc']

emp_title
  Sr. Mechanical assesmbler        52000.0
  field operator                  130000.0
 AIRCRAFT MECHANICAL ASSEMBLER     57000.0
 Administrative Assistant          35000.0
 Air traffic controller           101000.0
                                    ...
yearbook csr                       23000.0
years                              41000.0
yoga instructor                    60000.0
youth attendant                    60000.0
z/OS System Analyst               100000.0
Name: annual_inc, Length: 35942, dtype: float64

In [107]:
# 데이터정렬
df.groupby('emp_title').mean()['annual_inc'].sort_values(ascending=False)

emp_title
Sr Tech Writer                8000000.0
Trash Truck driver            6500031.0
Security guard                4680804.0
Director, Talent Advisory     3320000.0
Tourist Guide                 2416960.0
                                ...
Inventory Clerk                    25.0
Owner/Chef                          1.0
Front Desk representative           0.0
secretary                           0.0
Background Painter                  0.0
Name: annual_inc, Length: 35942, dtype: float64

## **10. 결측치 처리**
    데이터 분석을 위해서는 데이터셋 내에 빈 값이 있는 경우 분석에 방해가 될 수 있는 여지가 많습니다.
    모든 결측치를 없애야 하는 것은 아니지만 되도록이면 결측치를 채우는 방법, 혹은 없애는 방법등으로 결측치를 처리합니다.
    몇가지 예시를 살펴보면서 결측치 처리에 대해 알아봅시다.

In [108]:
# info() 함수는 결측치에 대한 정보도 보여줍니다.
# 컬럼별 isnull() 함수를 사용해도 무방합니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 145 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   id                                          0 non-null      float64
 1   member_id                                   0 non-null      float64
 2   loan_amnt                                   99999 non-null  int64
 3   funded_amnt                                 99999 non-null  int64
 4   funded_amnt_inv                             99999 non-null  float64
 5   term                                        99999 non-null  object
 6   int_rate                                    99999 non-null  float64
 7   installment                                 99999 non-null  float64
 8   grade                                       99999 non-null  object
 9   sub_grade                                   99999 non-null  object
 10  emp_title                                   91699 non-null  object
 11  emp_length                                  91824 non-null  object
 12  home_ownership                              99999 non-null  object
 13  annual_inc                                  99999 non-null  float64
 14  verification_status                         99999 non-null  object
 15  issue_d                                     99999 non-null  object
 16  loan_status                                 99999 non-null  object
 17  pymnt_plan                                  99999 non-null  object
 18  url                                         0 non-null      float64
 19  desc                                        0 non-null      float64
 20  purpose                                     99999 non-null  object
 21  title                                       99999 non-null  object
 22  zip_code                                    99999 non-null  object
 23  addr_state                                  99999 non-null  object
 24  dti                                         99811 non-null  float64
 25  delinq_2yrs                                 99999 non-null  float64
 26  earliest_cr_line                            99999 non-null  object
 27  inq_last_6mths                              99999 non-null  float64
 28  mths_since_last_delinq                      45499 non-null  float64
 29  mths_since_last_record                      15183 non-null  float64
 30  open_acc                                    99999 non-null  float64
 31  pub_rec                                     99999 non-null  float64
 32  revol_bal                                   99999 non-null  int64
 33  revol_util                                  99847 non-null  float64
 34  total_acc                                   99999 non-null  float64
 35  initial_list_status                         99999 non-null  object
 36  out_prncp                                   99999 non-null  float64
 37  out_prncp_inv                               99999 non-null  float64
 38  total_pymnt                                 99999 non-null  float64
 39  total_pymnt_inv                             99999 non-null  float64
 40  total_rec_prncp                             99999 non-null  float64
 41  total_rec_int                               99999 non-null  float64
 42  total_rec_late_fee                          99999 non-null  float64
 43  recoveries                                  99999 non-null  float64
 44  collection_recovery_fee                     99999 non-null  float64
 45  last_pymnt_d                                99850 non-null  object
 46  last_pymnt_amnt                             99999 non-null  float64
 47  next_pymnt_d                                73006 non-null  object
 48  last_credit_pull_d                          99995 non-null  object
 49  collections_12_mths_ex_med                  99999 non-null  float64
 50  mths_since_last_major_derog                 24700 non-null  float64
 51  policy_code                                 99999 non-null  int64
 52  application_type                            99999 non-null  object
 53  annual_inc_joint                            14591 non-null  float64
 54  dti_joint                                   14591 non-null  float64
 55  verification_status_joint                   14591 non-null  object
 56  acc_now_delinq                              99999 non-null  float64
 57  tot_coll_amt                                99999 non-null  float64
 58  tot_cur_bal                                 99999 non-null  float64
 59  open_acc_6m                                 99999 non-null  float64
 60  open_act_il                                 99999 non-null  float64
 61  open_il_12m                                 99999 non-null  float64
 62  open_il_24m                                 99999 non-null  float64
 63  mths_since_rcnt_il                          96358 non-null  float64
 64  total_bal_il                                99999 non-null  float64
 65  il_util                                     84394 non-null  float64
 66  open_rv_12m                                 99999 non-null  float64
 67  open_rv_24m                                 99999 non-null  float64
 68  max_bal_bc                                  99999 non-null  float64
 69  all_util                                    99973 non-null  float64
 70  total_rev_hi_lim                            99999 non-null  float64
 71  inq_fi                                      99999 non-null  float64
 72  total_cu_tl                                 99999 non-null  float64
 73  inq_last_12m                                99999 non-null  float64
 74  acc_open_past_24mths                        99999 non-null  float64
 75  avg_cur_bal                                 99990 non-null  float64
 76  bc_open_to_buy                              98418 non-null  float64
 77  bc_util                                     98374 non-null  float64
 78  chargeoff_within_12_mths                    99999 non-null  float64
 79  delinq_amnt                                 99999 non-null  float64
 80  mo_sin_old_il_acct                          96358 non-null  float64
 81  mo_sin_old_rev_tl_op                        99999 non-null  float64
 82  mo_sin_rcnt_rev_tl_op                       99999 non-null  float64
 83  mo_sin_rcnt_tl                              99999 non-null  float64
 84  mort_acc                                    99999 non-null  float64
 85  mths_since_recent_bc                        98510 non-null  float64
 86  mths_since_recent_bc_dlq                    20677 non-null  float64
 87  mths_since_recent_inq                       87538 non-null  float64
 88  mths_since_recent_revol_delinq              29814 non-null  float64
 89  num_accts_ever_120_pd                       99999 non-null  float64
 90  num_actv_bc_tl                              99999 non-null  float64
 91  num_actv_rev_tl                             99999 non-null  float64
 92  num_bc_sats                                 99999 non-null  float64
 93  num_bc_tl                                   99999 non-null  float64
 94  num_il_tl                                   99999 non-null  float64
 95  num_op_rev_tl                               99999 non-null  float64
 96  num_rev_accts                               99999 non-null  float64
 97  num_rev_tl_bal_gt_0                         99999 non-null  float64
 98  num_sats                                    99999 non-null  float64
 99  num_tl_120dpd_2m                            94103 non-null  float64
 100 num_tl_30dpd                                99999 non-null  float64
 101 num_tl_90g_dpd_24m                          99999 non-null  float64
 102 num_tl_op_past_12m                          99999 non-null  float64
 103 pct_tl_nvr_dlq                              99999 non-null  float64
 104 percent_bc_gt_75                            98411 non-null  float64
 105 pub_rec_bankruptcies                        99999 non-null  float64
 106 tax_liens                                   99999 non-null  float64
 107 tot_hi_cred_lim                             99999 non-null  float64
 108 total_bal_ex_mort                           99999 non-null  float64
 109 total_bc_limit                              99999 non-null  float64
 110 total_il_high_credit_limit                  99999 non-null  float64
 111 revol_bal_joint                             14590 non-null  float64
 112 sec_app_earliest_cr_line                    14591 non-null  object
 113 sec_app_inq_last_6mths                      14591 non-null  float64
 114 sec_app_mort_acc                            14591 non-null  float64
 115 sec_app_open_acc                            14591 non-null  float64
 116 sec_app_revol_util                          14299 non-null  float64
 117 sec_app_open_act_il                         14591 non-null  float64
 118 sec_app_num_rev_accts                       14591 non-null  float64
 119 sec_app_chargeoff_within_12_mths            14591 non-null  float64
 120 sec_app_collections_12_mths_ex_med          14591 non-null  float64
 121 sec_app_mths_since_last_major_derog         5116 non-null   float64
 122 hardship_flag                               99999 non-null  object
 123 hardship_type                               338 non-null    object
 124 hardship_reason                             338 non-null    object
 125 hardship_status                             338 non-null    object
 126 deferral_term                               338 non-null    float64
 127 hardship_amount                             338 non-null    float64
 128 hardship_start_date                         338 non-null    object
 129 hardship_end_date                           338 non-null    object
 130 payment_plan_start_date                     338 non-null    object
 131 hardship_length                             338 non-null    float64
 132 hardship_dpd                                338 non-null    float64
 133 hardship_loan_status                        338 non-null    object
 134 orig_projected_additional_accrued_interest  283 non-null    float64
 135 hardship_payoff_balance_amount              338 non-null    float64
 136 hardship_last_payment_amount                338 non-null    float64
 137 disbursement_method                         99999 non-null  object
 138 debt_settlement_flag                        99999 non-null  object
 139 debt_settlement_flag_date                   402 non-null    object
 140 settlement_status                           402 non-null    object
 141 settlement_date                             402 non-null    object
 142 settlement_amount                           402 non-null    float64
 143 settlement_percentage                       402 non-null    float64
 144 settlement_term                             402 non-null    float64
dtypes: float64(106), int64(4), object(35)
memory usage: 110.6+ MB

    확인결과 emp_title, emp_length, dti에 결측치가 존재합니다. 
    해당 컬럼의 결측치 샘플들을 살펴보고 결측치를 처리해 보겠습니다.

In [ ]:
# 컬럼별 결측치 확인을 위한 isnull()함수 리턴값이 bool 형태로 반환되어 조건부 샘플링이 가능합니다.
df['emp_title'].isnull().head()

In [ ]:
len(df) - df['emp_title'].isnull().sum()

In [ ]:
df[df['emp_title'].isnull()]

In [ ]:
df[df['dti'].isnull()]

    직업과 근속연수에 관한 부분은 데이터를 통한 유추나 계산값을 통해 채워넣을 수 있는 항목은 아닌 것 같습니다.
    다만 dti의 경우 실수로 채워져 있는 부분이니 수업을 위해 평균값 혹은 근사치를 계산하여 채워보도록 하겠습니다.

In [ ]:
# dti 컬럼의 NaN값 index 확인
df[df['dti'].isnull()].index

### 10-1. 결측치 채우기

In [ ]:
# fillna() 함수로 NaN 값을 dti 컬럼의 평균으로 채우기
df['dti'].fillna(df['dti'].mean(), inplace=True) # inplace 파라메터 사용가능
# fillna() 함수의 다양한 채우기 방법 파라메터 확인해보기

### 10-1. 결측치 제거

In [ ]:
df[df['emp_title'].isnull()]

In [ ]:
df.info()

In [ ]:
df.dropna().info()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.info()