In [1]:
import pandas as pd

# Ecommerce Purchases Exercise

아마존 구매 내역에 대한 Fake 데이터 입니다. 아래 굵은 글씨로 기술된 테스크들을 완수하세요. 뒷부분으로 갈 수록 점점 어려워집니다.

모든 데이터는 인위적으로 만들어진 가짜이므로 상식적으로 맞지 않을 수 있다는 점 감안해주세요

또한 모든 답안은 한 줄로 작성될 수 있다는 점도 기억해주세요~

**'1.csv' 파일을 읽어들여 df라는 이름으로 데이터프레임생성**

In [2]:
# CODE
# 아래의 결과값과 같은 결과가 나오면 정답입니다.
df = pd.read_csv('1.csv')

In [4]:
# 데이터 프레임을 변수에 저장하면 출력값이 없습니다!
# 아래 출력값이 있는 셀을 지우면 결과값 확인이 안됩니다~ 결과값 확인 하면서 코딩해 보세요~

**데이터프레임의 첫 5개 샘플 확인**

In [3]:
# CODE
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**데이터의 기본정보를 확인해봅시다**

In [ ]:
# CODE

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

#### 데이터 설명
    Address - 주문자 주소
    Lot - 주문정보
    AM or PM - 주문 시간대 (오전, 오후)
    Browser Info - 웹브라우저 정보
    Company - 주문자 직장
    Credit Card - 카드번호
    CC Exp Date - 카드 만기일
    CC Security Code - 카드 보안 코드
    CC Provider - 신용카드 제공자
    Email - 이메일
    Job - 직업
    IP Address - IP주소
    Language - 언어
    Purchase Price - 주문금액

**총 주문금액의 평균은 얼마인가요?**

In [ ]:
# CODE

50.34730200000025

**가장많이 주문한 주문 금액과 가장적게 주문한 금액은 얼마인가요?**

In [ ]:
# CODE

99.99

In [ ]:
# CODE

0.0

**사용자 중 영어를 사용하는 사람의 수는 몇인가요?**

In [ ]:
# CODE

1098

**주문자의 직업이 "Lawyer" 인 사람은 몇명인가요?**

In [ ]:
# CODE

30

**오전과 오후에 얼마나 많은 사람들이 주문을 하나요?**

In [ ]:
# CODE

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**어떤 직업을 가지고 있는 사람들이 주문을 많이 했을까요? 주문을 많이 한 순서대로 5 직업명을 나열해봅시다**

In [ ]:
# CODE

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**카드 번호 4926535242672853 인 고객의 email은?**

In [ ]:
# CODE

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**(어려움)Amerecan express를 사용해서 95달러 이상 주문한 주문금액 평균확인**

In [ ]:
# CODE

97.58076923076923